.reset {
  margin: 0px;
  padding: 0px;
}
/*  C S S   D E C L A R A T I O N S  */
* {
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-family: sans-serif;
  color: #333333;
}
a {
  text-decoration: none;
}
#wraper {
  position: relative;
  width: 960px;
  height: 600px;
  margin: auto;
  margin-top: 10px;
  background-color: #ffffff;
}
/*  T O O L B A R  */
#toolbar {
  background: #ffffff;
  position: absolute;
  left: 0px;
  width: 100px;
  height: 600px;
}
/*  L E F T   C O L U M N  */
#left_column {
  position: absolute;
  left: 60px;
  top: 0px;
  width: 500px;
  height: 600px;
}
#head {
  width: 500px;
  margin-bottom: 20px;
}
#collections-head {
  margin-bottom: 10px;
}
#collections-list:after {
  color: #ffffff;
  content: ".";
}
.collection {
  height: 100px;
  margin-bottom: 10px;
  clear: both;
}
.collection:hover {
  background-color: #a9dbfe;
  cursor: pointer;
}
.collection-icon {
  position: relative;
  height: 94px;
  width: 154px;
  margin-right: 10px;
  float: left;
  border: solid 3px #a9dbfe;
}
.collection-icon-label {
  position: absolute;
  width: 100%;
  top: 40px;
  text-align: center;
  font-size: 14px;
}
.collection-info {
  float: right;
  width: 330px;
  padding-top: 5px;
}
.collection-name {
  font-weight: bold;
  margin-bottom: 5px;
}
#right_column {
  position: absolute;
  left: 570px;
  top: 0px;
  width: 390px;
  height: 600px;
}
.right-block {
  margin-bottom: 10px;
}
/*    #about {
        position: absolute;
        top: 230px;
    }

    #tutorial {
        position: absolute;
        top: 420px;
    }
*/
ul {
  margin-left: 20px;
}
li:hover {
  color: silver;
  cursor: pointer;
}
.right {
  text-align: right;
}
.right:hover {
  color: silver;
  cursor: pointer;
}
#status-bar {
  position: fixed;
  width: 960px;
  height: 15px;
  padding: 5px;
  bottom: 0px;
  margin: auto;
  background-color: #555;
  color: #fff;
}
.perspective-head {
  width: 100%;
  height: 14px;
  padding: 3px;
  background-color: #a9dbfe;
  margin-bottom: 10px;
}
.perspective-desc {
  color: #fff;
  margin-left: 5px;
}
.perspective {
  height: 40px;
  margin-bottom: 10px;
  clear: both;
}
.perspective:hover {
  background-color: #a9dbfe;
  cursor: pointer;
}
.perspective-icon {
  position: relative;
  height: 34px;
  width: 154px;
  margin-right: 10px;
  float: left;
  border: solid 3px #a9dbfe;
}
.perspective-icon-label {
  position: absolute;
  width: 100%;
  top: 11px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.perspective-info {
  float: right;
  width: 330px;
}
