body {
    font-family: Arial,sans-serif;
    font-size: 11px;
    cursor: default;
    background-color: #8B8B8B;
}

h3 {
    margin: 0;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#panels {
    width: 960px;
}

.panel {
    overflow: hidden;
    margin-top: 10px;
    background-color: white;
}

.panel > header {
    overflow: auto;
    clear: both;
    border-bottom: 2px solid #3B3B3B;
}

.panel-title {
    margin: 0 5px;
    margin-top: 5px;
    padding: 5px;
    color: white;
    background-color: #3B3B3B;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.panel > header > * {
    float: left;
}

.panel-icon {
    margin-top: 5px;
}

.panel-desc {
    margin: 0 5px;
    margin-top: 5px;
    padding: 5px;
    font-weight: bold;
}

.panel-main {
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    clear: both;
    background-color: #E3E3E3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}



form {
    display: block;
    margin-top: 0em;
}

.input-text {
    min-width: 200px;
    height: 18px;
    background-color: white;
    border: 1px solid #4CBCEB;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

input {
    padding: 3px 5px;
    font-family: Arial,sans-serif;
    font-size: 12px;
}

#pl-sr-results > table {
    border-collapse: collapse;
}

.pl-bt-container {
    overflow: auto;
    width: 225px;
    padding-bottom: 5px;
}

#pl-sr-more {
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #E1E1E1;
    color: #1EA3E8;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}

  #pl-sr-more:hover {
    background-color: #1ea3e8;
    color: #fff;
  }


.panel .button {
    float: right;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}

.blue {
    color: white;
    background-color: #4ABFF7;
}

ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
}

#pl-sr-full li {
    width: 350px;
    margin: 15px;
    padding: 10px;
    overflow: hidden;
}

#pl-sr-full header {
border-bottom: 1px solid #919191;
}



