<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
      
    <meta name="description" content="Portal otwartych danych publicznych" />
    <meta name="keywords" content="otwarte dane, otwarte państwo, dane publiczne, budżet" />
    <meta name="author" content="Centrum Cyfrowe" />
    
    <!-- Less CSS library for Rapid CSS Development-->
    <link rel="stylesheet" href="/media/css/base.css" />
    {% block styles %}
    <!-- template specific style sheets comes here -->
    {% endblock %}
  </head>
  <body>
    <div id="wraper">
    {% block content %}
    {% endblock %}
    </div>
    <script src="/media/js/jsAssert.js"></script>
    <script src="/media/js/jquery.js"></script>
    {% block javascripts %}
    <!-- template specific javascript files come here -->
    {% endblock %}   
  </body>
</html>
