<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
      
    <meta name="description" content="Portal otwartych danych publicznych" />
    <meta name="keywords" content="otwarte dane, otwarte państwo, dane publiczne, budżet" />
    <meta name="author" content="Centrum Cyfrowe" />
    
    <!-- Less CSS library for Rapid CSS Development-->
    <link rel="stylesheet/less" href="/media/css/general.less" />
    <script src="/media/js/less.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="wraper">
    {% block content %}
    {% endblock %}
    </div>
    <script src="/media/js/jsAssert.js" type="text/javascript"></script>
    <script src="/media/js/jquery.js" type="text/javascript"></script>
    <script src="/media/js/databrowser.js" type="text/javascript"></script>
  </body>
</html>
