body {
    color: #333;
    background-color: #a3a3a3;    
    
    font-size: 12px;
    font-family: Arial, sans-serif;
} 

#wraper {
    width: 960px;
    margin: 0px auto;
}

header {
  overflow: auto;
  margin-bottom: 15px;
}

  header > * {
    float: left;
  }

  header > nav {
    margin: 0px 5px;
  }

  header ul {
    list-style-type: none;
    display: inline;
  }

  header li {
    float: left;

    width: 200px;
    padding: 5px;
    margin-left: 5px;
    
    color: #4abff7;
    background-color: #ddd;

    text-align: center;
    font-weight: bold;

    border-radius: 5px;
    -moz-border-radius: 5px;
  }

  header li:hover {
    cursor: pointer;
    color: #4abff7;
    background-color: #eee;            
  }

  header .selected {
    color: #fff;
    background-color: #888;
  }

.left {
    float: left;
}


.menu-position {
    display: inline;
    margin-left: 36px;
}

.menu-position:hover {
    color: #4abff7 !important;
    cursor: pointer;
}



#choose-panel {
    background-color: #fff;
    margin: 15px 0px;    

    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

    #choose-header {
        height: 38px;
        padding-top: 3px;
        padding-left: 4px;
        border-bottom: solid #767676 2px;

        -moz-border-radius: 3px 3px 0px 0px;
        border-radius: 3px 3px 0px 0px;
    }

        #info-title {
            background-color: #767676;
            height: 14px;
            padding: 12px 10px;

            color: #fff;
            font-weight: bold;
            font-size: 15px;
            -moz-border-radius: 3px 3px 0px 0px;
            border-radius: 3px 3px 0px 0px;
        }

        #info-icon {
            margin: 8px 7px;
        }

        #info-info {
            font-weight: bold;
            margin: 11px 5px;
            color: #8b8b8b;
        }

        #info-text {
            font-weight: bold;
            margin: 11px 0px;
        }

    #choose-main-panel {
        overflow: auto;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 20px;

        -moz-border-radius: 0px 0px 3px 3px;
        border-radius: 0px 0px 3px 3px;
    }
    
        #back-to-datasets {
            float: left;
        }
    
        #choose-datasets {
            width: 855px;
            padding-left: 105px;
        }


        #choose-perspectives {
            float: left;
            margin-left: 35px;            
        }

        
        #choose-perspectives-back-image {
            margin-right: 35px;
        }

        .position {
            width: 320px;
            padding: 0px 5px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            overflow: auto;
            border: 1px #fff solid;
        }
        
        .position:hover {
            border: 1px #e2eaee solid;
        }

        .second-column {
            margin-left: 40px;
        }
        
        .position .title {
            border-bottom: #ccc 1px solid;
            color: #5b5b5b;
            font-size: 15px;
            font-weight: bold;

            padding-bottom: 5px;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        
        .position .desc {
        }

        .position .more {
            float: right;
            color: #fff;
            background-color: #4abff7;            
            font-size: 10px;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: 5px;
            padding: 5px;
            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;    
        }

        .position .more:hover {
            cursor: pointer;
            color: #4abff7;
            background-color: #ddd;            
        }
       
        .more-desc {
            float: right;
            font-size: 10px;
            margin-top: 10px;
            margin-bottom: 5px;
            padding: 3px;
        }        

#open-close-choose-panel {
    margin-top: 10px;

    height: 14px;
    padding: 3px 0px;

    text-align: center;
    color: #4abff7;
    background-color: #fff;
    font-size: 12px;
    font-weight: bold;bold
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;    
}
#open-close-choose-panel:hover {
    cursor: pointer;
    color: #555;
}

#application {
    height: 200px;
    width: 960px;;

    oveflow: auto;

    margin-top: 10px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}

#tabs {
  padding-left: 5px;
}

    .tab {
        float: left;
        width: 230px;
        text-align: center;
        font-size: 14px;
        margin-right: 5px;
        border-radius: 3px 3px 0px 0px;
        -moz-border-radius: 3px 3px 0px 0px;    
        font-weight: bold;
    }

    .tab.active {
        height: 18px;
        padding: 4px 0px;
        background-color: white;
    }

    .tab.inactive {
        margin-top: 6px;
        height: 18px;
        padding: 1px 0px;
        background-color: #c8c8c8;
        color: #4cbceb;
    }

    .tab.inactive:hover {
        margin-top: 0px;
        height: 18px;
        padding: 4px 0px;
        background-color: #c8c8c8;
        cursor: pointer;
    }

#download-container {
  clear: both;
  width: 900px;
  min-height: 120px;
  padding: 30px;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
}

      #download-container p {
        padding-left: 5px;
      }

      #download-container table {
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-size: 11px;
      }

      #download-container td, th {
        height: 40px;
      }

      #download-container td, th {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      #download-container th.under {
        border-bottom: 1px solid #5b5b5b;
      }

      #download-container td.check {
        width: 20px;
      }

      #download-container td.radio {
        width: 120px;
        border-bottom: 1px solid #bbbbbb;
        text-align: center;
      }

      #download-container td.space {
        width: 1px;
      }

      #download-container td.name {
        border-bottom: 1px solid #bbbbbb;
      }

      #download-container td.group {
        font-weight: bold;
      }

      #download-container td.indent {
        padding-left: 10px;
        margin-left: 10px;
      }

      #download-button {
        float: left;
        margin-left: 150px;
        padding: 5px;
        background-color: #4CBCEB;
        color: #fff;
        border-radius: 5px;
        -moz-border-radius: 5px;
        cursor: default;
      }

      #download-button:hover {
        cursor: pointer;
      }

      .select-all {
        float: right;
        padding: 5px;
        margin-bottom: 5px;
        color: #fff;
        background-color: #4cbceb;
        border-radius: 5px;
        -moz-border-radius: 5px;
        cursor: default;
      }

      .select-all:hover {
        cursor: pointer;
        background-color: #ddd;
        color: #4CBCEB;
      }

      #filtered-table {
         width: 960px;
         background-color: #fff;
         border-collapse: collapse;
         border: 10px solid #fff;
      }

      #filtered-table th {
        background-color: #d4d4d4;
        text-align: left;
        border: 1px solid #a3a3a3;
      }
       
       
       .filtered-breadcrumb td {
         color: #5b5b5b;
         padding-top: 15px;
         font-size: 10px;
       }
 
       .filtered-data td {
         padding: 5px;
         background-color: #e4e4e4;
         border: 1px solid #a3a3a3;
       }
 

#permalink-container {
  clear: both;
  width: 900px;
  min-height: 120px;
  padding: 30px;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
}

    #snapshots {
        background-color: #fff;
        padding: 0px 5px;
        padding-top: 15px;
        clear: both;
        height: 20px;
        border-bottom: 2px #555 solid;
    }
    
    #snapshots > div {
        display: inline;
    }
    
        .basic-snapshot {
            padding: 5px 5px;
            color: #4abff7;
            margin-right: 5px;
            text-align: center;
            padding: 3px 5px;

            border: 2px solid #7cfc00;
            border-bottom: 0px solid #7cfc00;
            border-radius: 3px 3px 0px 0px;
            -moz-border-radius: 3px 3px 0px 0px;
        }
        
        .basic-snapshot:hover {
            background-color: #ff1493;
            color: #555;
            cursor: pointer;
        }
        
        .basic-snapshot.active {
            background-color: #989898;
            color: #fff;
            border: 1px solid #545454;
            border-radius: 3px 3px 0px 0px;
            -moz-border-radius: 3px 3px 0px 0px;
        }
        
        .snapshot {
            padding: 5px 5px;
            color: #4abff7;
            margin-right: 5px;
            text-align: center;

            border: 1px solid #ccc;
            border-bottom: 0px solid #ccc;
            border-radius: 3px 3px 0px 0px;
            -moz-border-radius: 3px 3px 0px 0px;
        }

        .snapshot:hover {
            color: #555;
            border-color: #4abff7;
            cursor: pointer;
        }

        .snapshot.active {
            background-color: #767676;
            color: #fff;
            border: 0px;
            border-radius: 3px 3px 0px 0px;
            -moz-border-radius: 3px 3px 0px 0px;
        }
        
        #save-snapshot {
            font-size: 10px;
            background-color: #4abff7;
            color: white;
            padding: 3px 5px;
            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
        }
        #save-snapshot:hover {
            background-color: #4cbceb;
            color: #555;
            cursor: pointer;
        }
    
    #table-toolbar {
        position: relative;
        
        height: 30px;
        padding-bottom: 5px;
        background-color: #c8c8c8;
    }
    
            #breadcrumb {
                position: absolute;
                bottom: 8px;
                left: 0px;
                width: 595px;
                padding: 3px 15px;
                font-weight: bold;
                color: #fff;
            }
            
            #tools {
                position: relative;
                float: right;
                right: 10px;
                top: 10px;
                width: auto;
                border-radius: 3px 3px 0px 0px;
                -moz-border-radius: 3px 3px 0px 0px;      
            }
                
                #tools > div {         
                    float: left;
                    padding: 3px 10px;
                    margin-right: 5px;
                    background-color: #fff;
                    color: #4cbceb;
                    
                    border-radius: 3px 3px 3px 3px;
                    -moz-border-radius: 3px 3px 3px 3px;
                }
                
                #manage-columns-button{
                    border-radius: 3px 3px 0px 0px;
                }
                
                #tools > div:hover {
                    cursor: pointer;
                    background-color: #b7b7b7;
                    color: #fff;
                }

#sort-popup {
    background-color: #C8C8C8;
    padding: 5px 20px;
}                     
                        
    select {
      width: 150px;
      margin-right: 5px;
    }

    input {
      width: 100px;
      border: 1px solid #ccc;
      border-radius: 5px;
      -moz-border-radius: 5px;
    }                

    input.radio {
      width: 50px;
    }

#filter-popup {
    background-color: #C8C8C8;
    padding: 5px 20px;
}                     

#add-sort-key {
    width: 5px;
    height: 1px;
    padding: 5px;
    margin: 0px 5px;
    display: inline;
    
    background-color: #fffdfa;
    border-radius: 5px;    
    -moz-border-radius: 5px;    
}

#add-sort-key:hover {
    cursor: pointer;
    background-color: #ddd;
}

#add-filter-key {
    width: 5px;
    height: 1px;
    padding: 5px;
    margin: 0px 5px;
    display: inline;
    
    background-color: #fffdfa;
    border-radius: 5px;    
    -moz-border-radius: 5px;    
}

#add-filter-key:hover {
    cursor: pointer;
    background-color: #ddd;
}


