{% extends "base.html" %}
{% block app %}

{% include 'choose.html' %}

  <div id="application">
    <!-- T A B S -->
    <div id="tabs">
      <div id="table-tab" class="tab active">
        tabela
      </div>
      <div id="permalink-tab" class="tab inactive">
        podziel się
      </div>
    </div>

    <!-- T A B L E -->
    <div id="table-container">
      <div id="snapshots">
        <div id="save-snapshot">
          Zapisz arkusz
        </div>
      </div>

      <div id="table-toolbar">
        <div id="table-toolbar-upper">
            <div id="table-toolbar-collection-name"></div>
            <div id="tools">
                <div id="sort-button">sortuj</div>
                <div id="filter-button">filtruj</div>
            </div>
        </div>
        
        <div id="sort-filter-forms">
          <!-- S O R T   P O P U P  -->
          <div id="sort-popup">
            <form id="sort-form" action="">
            </form>
          </div>
          
          <!-- F I L T E R   P O P U P -->
          <div id="filter-popup">
            <form id="filter-form" action="">
            </form>
          </div>
        </div>

        <div id="table-toolbar-lower">
          <div id="manage-columns-button">lista kolumn</div>

          <div id="manage-columns-popup" style="background-color: #fff; float:right; z-index: 30; position: relative; width: 40%">
            <form id="manage-columns-form" action="" style="border: 2px solid #5b5b5b; border-radius: 5px; position: absolute; float: right; right: -95px; top: 25px; background-color: #fff; padding: 10px">
            </form>
          </div>
        </div>
        <span style="font-size: 1px;">.</span>
      </div>

      <!-- M A N A G E  C O L U M N S  P O P U P -->

      <!-- T A B L E -->
      <table id="data-table" style="clear: both">
        <thead></thead>
        <tbody></tbody>
      </table>
      
      <!-- F I L T E R E D  T A B L E -->
      <table id="filtered-table">
        <thead id="filtered-thead"></thead>
        <tbody id="filtered-tbody"></tbody>
      </table>
      
      
    </div>
    
    <!-- P E R M A L I N K -->
    <div id="permalink-container">
        Już niebawem dostępna będzie opcja wysyłania permalinków do znajomych!
    </div>

  </div>
{% endblock %}       
