<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<title>Otware dane</title>
  <link rel="stylesheet" type="text/css" href="/site_media/test/style.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/test/classes.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/test/table_style.css" />
</head>
<body>
 <header id="most-top">

  <table>
  	<tbody>
      <tr id="beta-version">
        <td colspan="3">
          <div style="padding: 5px; background: #fff; border-radius: 5px; font-size: 1.1em; text-align: center; color: #000;">
            Portal otwarte dane dostępny jest w wersji beta, co oznacza, 
            że jego autorzy pracują nad nowymi funkcjami oraz chętnie 
            poprawiają ewentualne błędy.
          </div>
        </td>
      </tr>
  		<tr>
  			<td style="width: 320px;"><a href="http://otwartedane.pl" target="_top"><img id="mt-od-logo" src="/site_media/img/logo_rollover.png" /></a></td>
  			<td style="width: 320px; text-align: center"><img id="mt-toggle" src="/site_media/img/toggle_AplikacjaGlow_01.png" /></td>
  			<td style="width: 320px;"><a href="http://centrumcyfrowe.pl" target="_blank"><img id="mt-cc-logo" src="/site_media/img/logo_CC-PP.png" class="right" style="margin-right: 30px" /></a></td>
  		</tr>
  	</tbody>
  </table>

 </header>
 <div id="wrapper">
   <div id="main-wrapper">
   <!--  H E A D E R  -->
    <header id="main-top" style="padding-top: 15px;">
      <nav id="main-top-menu">
        <div id="mt-menu-main" class="main-tab button left active">Strona główna</div>
        <div id="mt-menu-help" class="main-tab button left">Pomoc</div>
        <div id="mt-menu-rights" class="main-tab button left">Własność intelektualna</div>
        <div id="mt-menu-rawsalad" class="main-tab button left">Raw Salad</div>
        <div id="mt-menu-english" class="main-tab button right">English summary</div>
      </nav>
    </header>
     
     <!--  M A I N  -->
    <article id="ms-main" class="main-site clear" style="padding-bottom: 10px; overflow: auto;">
      <section style="padding: 20px; width: 45%;" class="left">
     Food historians say the Romans ate mixed greens and dressing, and the Babylonians were known to have dressed greens with oil and vinegar two thousand years ago.[3][4][5] In his 1699 book, Acetaria: A Discourse on Sallets, John Evelyn attempted with little success to encourage his fellow Britons to eat fresh salad greens.[6] Royalty dabbled in salads: Mary, Queen of Scots, ate boiled celery root over salad covered with creamy mustard dressing, truffles, chervil, and slices of hard-boiled eggs.[4]
     </section>
     <section style="padding: 20px; width: 45%;" class="right">
The United States popularized salads in the late 19th century and other regions of the world adopted them throughout the second half of the 20th century. From Europe and the Americas to China, Japan, and Australia, premade salads are sold in supermarkets, at restaurants (restaurants will often have a "Salad Bar" laid out with salad-making ingredients, which the customers will use to put together their salad) and at fast food chains. In the US market, fast food chains such as McDonald's and KFC, that typically sold "junk food" such as hamburgers, fries, and fried chicken, now sell packaged salads to appeal to the health-conscious customers.Dane dostępne na stronie internetowej otwartedane.pl zostały
     </section>
    </article>
     
     
     <!--  H E L P  -->
    <article id="ms-help" class="main-site clear" style="padding-bottom: 10px; overflow: auto;">
      <section style="padding: 20px; width: 45%;" class="left">
     <h2>Filtrowanie danych</h2>
     Dane dostępne na stronie internetowej otwartedane.pl zostały
     otrzymane z instytucji publicznych w trybie dostępu do informacji
     publicznej lub są publicznie dostępne na stronach internetowych tych
     instytucji.
     <br />
     <br />
     <h2>Permalinki</h2>
     Dane publiczne dostępne na stronie otwartedane.pl nie
     podlegają ochronie prawnoautorskiej, zgodnie z art. 4 Ustawy o prawie
     autorskim i prawach pokrewnych, który wyłącza spod prawa autorskiego
     m.in. dokumenty i materiały urzędowe (np. listy zabytków) i akty
     normatywne (np. budżet państwa, który jest ustawą).
     
     </section>
     <section style="padding: 20px; width: 45%;" class="right">
     <h2>Download</h2>
     Niektóre z udostępnianych danych zgromadzone są w
     postaci bazy danych. Ponieważ w pierwotnej formie powstały one dla
     celów publicznych, instytucje publiczne będące ich dysponentami nie
     poniosły istotnego nakładu lub ryzyka inwestycyjnego związanego z ich
     utworzeniem. Ewentualny nakład został poniesiony na wytworzenie lub
     zgromadzenie danych, a nie stworzenie samej bazy danych – co wyłącza
     ochronę dla producenta bazy z tytułu poniesienia nakładów przewidzianą
     w ustawie o ochronie baz danych.
     <br />
     <br />
     <h2>Arkusze</h2>
     Centrum Cyfrowe nie ponosi
     odpowiedzialności za jakość, w tym dokładność i aktualność danych.
     </section>
    </article>
     
     
     <!--  C O P Y R I G H T -->
    <article id="ms-rights" class="main-site clear" style="padding-bottom: 10px; overflow: auto;">
      <section style="padding: 20px; width: 45%;" class="left">
     <h2>Pochodzenie danych</h2>
     Dane dostępne na stronie internetowej otwartedane.pl zostały
     otrzymane z instytucji publicznych w trybie dostępu do informacji
     publicznej lub są publicznie dostępne na stronach internetowych tych
     instytucji.
     <br />
     <br />
     <h2>Ochrona prawnoautorska</h2>
     Dane publiczne dostępne na stronie otwartedane.pl nie
     podlegają ochronie prawnoautorskiej, zgodnie z art. 4 Ustawy o prawie
     autorskim i prawach pokrewnych, który wyłącza spod prawa autorskiego
     m.in. dokumenty i materiały urzędowe (np. listy zabytków) i akty
     normatywne (np. budżet państwa, który jest ustawą).
     
     </section>
     <section style="padding: 20px; width: 45%;" class="right">
     <h2>Ochrona baz danych</h2>
     Niektóre z udostępnianych danych zgromadzone są w
     postaci bazy danych. Ponieważ w pierwotnej formie powstały one dla
     celów publicznych, instytucje publiczne będące ich dysponentami nie
     poniosły istotnego nakładu lub ryzyka inwestycyjnego związanego z ich
     utworzeniem. Ewentualny nakład został poniesiony na wytworzenie lub
     zgromadzenie danych, a nie stworzenie samej bazy danych – co wyłącza
     ochronę dla producenta bazy z tytułu poniesienia nakładów przewidzianą
     w ustawie o ochronie baz danych.
     <br />
     <br />
     <h2>Odpowiedzialność za jakość danych</h2>
     Centrum Cyfrowe nie ponosi
     odpowiedzialności za jakość, w tym dokładność i aktualność danych.
     </section>
    </article>
     
     
     <!-- R A W   S A L A D  -->
    <article id="ms-rawsalad" class="main-site clear" style="padding-bottom: 10px; overflow: auto;">
      <section style="padding: 20px; width: 45%;" class="left">
     <h2>Oprogramowanie</h2>
      Raw  Salad oferuje ujednolicony tok pracy z danymi. Bez względu na strukturę danych i ich treść przeglądanie danych w Raw Salad wygląda tak samo. W przyszłości pozwoli to stworzyć jednolity system nawigacji w obrębie całości danych publicznych.
     </section>
     <section style="padding: 20px; width: 45%;" class="right">
     <h2>Do pobrania</h2>
     Kod źródłowy Raw Salad opublikowany jest na otwartej licencji BSD, 
     co w praktyce oznacza, że każdy podmiot zainteresowany 
     wykorzystaniem Raw Salad do własnych celów, może to zrobić 
     bez dodatkowej zgody autorów oprogramowania. 
     <br />
     <br />
     <ul>
       <li>Wersja stabilna - <a href="https://github.com/CCLab/Raw-Salad/zipball/master">.zip / 22.4 MB</a></li>
       <li>Pełny kod źródłowy - <a href="https://github.com/CCLab/Raw-Salad/">GitHub</a></li>
     </ul>
     </section>
    </article>

     <!-- R A W   S A L A D  -->
    <article id="ms-english" class="main-site clear" style="padding-bottom: 10px; overflow: auto;">
      <section style="padding: 20px; width: 45%;" class="left">
Access to public data in Poland is getting better, but still lacks the standards of their presentation. Raw Salad answers the need for a fast, efficient and standardized access to public data. Salad Raw Data Viewer is a browser, allowing easy access to public data. The main subject of the efforts of developers Raw Salad is to create an efficient and transparent system of movement in the thicket of data. By using modern information technology users get the tool to easily choose the data they need and adjust output to meet their needs.
     <br />
     <br />
Raw Salad offers a unified workflow. Regardless of the data structure and the contents viewing data in the Raw Salad looks the same. In the future, this will create a unified navigation system within the whole public data.
     </section>
     <section style="padding: 20px; width: 45%;" class="right">
An important element is the functionality of Raw Salad Rich download, allowing each stage to work with data download interesting user data in a form which facilitates their further processing in any environment and placing them in a spreadsheet, email, blog, etc.
     <br />
     <br />
From the perspective of software developers the most important element is the Raw Salad’s public application programming interface (Eng: API Application Programming Interface). With API any developer creating a web page, or visualization application for mobile phone, can use data collected by us (eg EU budget funds). She/he will be able to download them directly from the place where they are stored – in the open data base.
     </section>
    </article>

  
        <!-- F O O T E R -->
      <footer>

        <!-- grantodawcy -->
        <section style="width: 33%">
          Projekt "Otwarte dane" jest wspierany przez grant z
          <a href="http://www.batory.org.pl/" target="_blank">
            Fundacji im. Stefana Batorego</a>.
          Do pracy z danymi wykorzystaliśmy system 
          <a href="http://rawsalad.centrumcyfrowe.pl/" target="_blank">
          Raw Salad</a>
          , tworzony z grantu
          <a href="http://www.ceetrust.org/" target="_blank">
            Trust for Civil Society in Central and Eastern Europe</a>.
        </section>

        <!-- loga grantodawcow-->
        <section style="width: 32%">
          <a href="http://www.ceetrust.org/" target="_blank">
            <img alt="www.ceetrust.org" title="Trust for Civil Society in Central and Eastern Europe" src="/site_media/img/l1.png" class="left">
          </a>

          <a href="http://www.batory.org.pl/" target="_blank">
            <img alt="www.batory.org.pl" title="Fundacja im. Stefana Batorego" src="/site_media/img/l2.png" class="left">
          </a>

        </section>

        <!-- projekt: polska -->
        <section class="last" style="width: 33%">
          <a href="http://centrumcyfrowe.pl/" target="_blank">
          Centrum Cyfrowe</a> jest częścią 
          <a href="http://projektpolska.pl/" target="_blank">
            Fundacji Projekt: Polska</a>.
          <br />

          <a href="http://projektpolska.pl/" target="_blank">
            <img alt="projektpolska.pl" title="Fundacja Projekt: Polska" src="/site_media/img/ppolska.png" style="margin-top:10px" />
          </a>
        </section>

        <br class="clear"/>

        <!-- kontakt-->
        <section id="contact">
          Centrum Cyfrowe Projekt:Polska, ul. Mińska 25, 03-808 Warszawa,
          <span style="text-decoration:underline;">kontakt@centrumcyfrowe.pl</span>

          <br />
          O ile nie jest to stwierdzone inaczej, dane publiczne udostępnione w 
          serwisie nie są przedmiotem praw autorskich. Wszystkie inne treści, 
          o ile nie jest to stwierdzone inaczej, są dostępne na licencji 
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
            Creative Commons Uznanie autorstwa 3.0 Unported</a>. 
          Pewne prawa zastrzeżone na rzecz 
          <a xmlns:cc="http://creativecommons.org/ns#" href="http://centrumcyfrowe.pl" property="cc:attributionName" rel="cc:attributionURL">
            Centrum Cyfrowego Projekt: Polska</a>. 
          <br />
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
            <img alt="Licencja Creative Commons Uznanie autorstwa 3.0 Unported" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" />

          </a>
        </section>

      </footer>



   </div><!--  E O:  M A I N - W R A P P E R  -->

   <div id="app-wrapper">
   
   <!--  H E A D E R  -->
    <header id="top">
      <nav id="top-menu">
        <ul>
          <li id="tm-choose" class="tab button active">Kolekcje danych</li>
          <li id="tm-search" class="tab button">Wyszukaj</li>
          <li id="tm-download" class="tab button">Pobierz</li>
        </ul>
      </nav>
      <nav id="meta-menu">
        <ul class="right">
          <li id="mm-feedback" class="text button">Wyraź swoją opinię</li>
        </ul>
      </nav>
    </header>
     
    <br class="clear" /> 

    <!-- P A N E L S -->
    <section id="panels">
      <!-- C H O O S E   P A N E L --> 
      <section class="panel" id="pl-choose">
        <header>
          <p class="panel-title">Dostępne kolekcje danych</p>
          <img src="/site_media/img/info.png" 
               alt="Ikona informacji" 
               class="panel-icon" />
          <p class="panel-desc">Wybierz kolekcję danych, którą chcesz przeglądać.</p>
        </header>
        <div id="pl-ch-area">
          <!-- D A T A S E T S --> 
          <section id="pl-ch-datasets" class="panel-main">
            <p class="pl-ch-back left">
              <!-- empty on purpose: used as a spacer! -->
            </p>
          </section>

          <!-- V I E W S -->
          <section id="pl-ch-views" class="panel-main">
            <p class="pl-ch-back left">
              <img src="/site_media/img/datasets.png" class="left" /> 
            </p>
          </section>
        </div>
      </section>

      <!-- S E A R C H   P A N E L -->
      <section class="panel" id="pl-search">
        <header>
          <p class="panel-title">Wyszukaj</p>
          <img src="/site_media/img/info.png" 
               alt="Ikona informacji" 
               class="panel-icon" />
          <p class="panel-desc">Wyszukaj konkretne informacje w naszej bazie danych.</p>
        </header>

        <!-- S E A R C H   F O R M -->
        <section id="pl-sr-form-panel">
          <section class="panel-main">
            <form id="pl-sr-form" action="get">
              <input type="text" class="input-text" placeholder="Szukana fraza" id="pl-sr-query" name="pl-sr-query" />
            </form>
          </section>
          
          <!-- S E A R C H  C O L L E C T I O N S   S E L E C T I O N -->
          <section id="pl-sr-full" class="panel-main">
            <p>Wybierz kolekcje danych, które chcesz przeszukać.</p>
            <hr />
            <table id="pl-sr-table">
              <tbody>
              <tr>
                <td class="pl-sr-select-buttons" rowspan="34">
                  <div id="pl-sr-select" class="rounded grey button">Zaznacz wszystkie</div>
                  <br class="clear"/>
                  <div id="pl-sr-unselect" class="rounded grey button">Odznacz wszystkie</div>
                </td>
                <td class="check"><input value="0-0-2011" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu tradycyjnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="0-1-2011" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu zadaniowym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="0-1-2012" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu zadaniowym 2012</td>
              </tr>
              <tr>
                <td class="check"><input value="0-2-2011" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu instytucjonalnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="0-2-2012" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu instytucjonalnym 2012</td>
              </tr>
              <tr>
                <td class="check"><input value="1-0-2011" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu tradycyjnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="1-1-2011" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu zadaniowym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="1-1-2012" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu zadaniowym 2012</td>
              </tr>
              <tr>
                <td class="check"><input value="1-2-2011" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu instytucjonalnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="1-2-2012" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu instytucjonalnym 2012</td>
              </tr>
              <tr>
                <td class="check"><input value="2-0-2011" type="checkbox" /></td>
                <td>Fundusze celowe w ujęciu tradycyjnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="2-1-2011" type="checkbox" /></td>
                <td>Fundusze celowe w ujęciu zadaniowym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="2-2-2011" type="checkbox" /></td>
                <td>Agencje państwowe w ujęciu tradycyjnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="2-3-2011" type="checkbox" /></td>
                <td>Agencje państwowe w ujęciu zadaniowym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="3-0-2011" type="checkbox" /></td>
                <td>Wydatki Narodowego Funduszu Zdrowia - dane zagregowane na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="3-1-2011" type="checkbox" /></td>
                <td>Wydatki Narodowego Funduszu Zdrowia - dane ośrodków regionalnych na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2007" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2007</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2008" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2008</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2009" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2009</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2010" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2010</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2011" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2007" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2007</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2008" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2008</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2009" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2009</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2010" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2010</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2011" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="4-2-2008" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty powiatowe na rok 2008</td>
              </tr>
              <tr>
                <td class="check"><input value="4-2-2009" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty powiatowe na rok 2009</td>
              </tr>
              <tr>
                <td class="check"><input value="4-2-2010" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty powiatowe na rok 2010</td>
              </tr>
              <tr>
                <td class="check"><input value="4-2-2011" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty powiatowe na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="4-3-2008" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty gminne na rok 2008</td>
              </tr>
              <tr>
                <td class="check"><input value="4-3-2009" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty gminne na rok 2009</td>
              </tr>
              <tr>
                <td class="check"><input value="4-3-2010" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty gminne na rok 2010</td>
              </tr>
              <tr>
                <td class="check"><input value="4-3-2011" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty gminne na rok 2011</td>
              </tr>
              </tbody>
            </table>
          </section>
          
          <div class="pl-bt-container" style="margin-top: -5px">
            <div id="pl-sr-more" class="button left">Zaawansowane</div>
          </div>
          
          <!-- S E A R C H   B U T T O N -->
          <div class="pl-bt-container">
            <div id="pl-sr-button" class="blue button">Szukaj</div>
          </div>
        </section>
        <section id="pl-sr-results-panel">
          <section id="pl-sr-results" class="panel-main">
            <table>
              <thead>
                <tr style="padding-bottom: 15px">
                  <th style="font-weight: normal; color: #8b8b8b;">liczba wystąpień</th>
                  <th style="text-align: left; padding-left: 15px; font-weight: normal; color: #8b8b8b;">kolekcja</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </section>
        </section>
      </section>

      <!-- D O W N L O A D   P A N E L -->
      <section class="panel" id="pl-download">
        <header>
          <p class="panel-title">Pobierz dane</p>
          <img src="/site_media/img/info.png" 
               alt="Ikona informacji" 
               class="panel-icon" />
          <p class="panel-desc">Zaznacz zbiory danych i kliknij &#8222;Pobierz&#8221;, by zapisać je na dysku.</p>
        </header>

        <form>
          <!-- S H E E T S -->
          <section id="pl-dl-sheets" class="panel-main">
            <p>Arkusze danych w otwartych plikach CSV</p>
            <hr />
            <table id="pl-dl-sh-table"><!-- generated dynamically -->
            </table>
          </section>
        
          <!-- F U L L   C O L L E C T I O N S -->
          <section id="pl-dl-full" class="panel-main">
            <p>Pełne kolekcje danych w otwartych plikach CSV</p>
            <hr />
            <table id="pl-dl-fl-table">
              <tbody>
              <tr>
                <td class="pl-dl-select-buttons" rowspan="34">
                  <div id="pl-dl-fl-tb-select" class="grey button">Zaznacz wszystkie</div>
                  <br class="clear"/>
                  <div id="pl-dl-fl-tb-unselect" class="grey button">Odznacz wszystkie</div>
                </td>
                <td class="check"><input value="0-0-2011.csv" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu tradycyjnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="0-1-2011.csv" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu zadaniowym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="0-1-2012.csv" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu zadaniowym 2012</td>
              </tr>
              <tr>
                <td class="check"><input value="0-2-2011.csv" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu instytucjonalnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="0-2-2012.csv" type="checkbox" /></td>
                <td>Budżet centralny w ujęciu instytucjonalnym 2012</td>
              </tr>
              <tr>
                <td class="check"><input value="1-0-2011.csv" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu tradycyjnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="1-1-2011.csv" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu zadaniowym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="1-1-2012.csv" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu zadaniowym 2012</td>
              </tr>
              <tr>
                <td class="check"><input value="1-2-2011.csv" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu instytucjonalnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="1-2-2012.csv" type="checkbox" /></td>
                <td>Budżet środków europejskich w ujęciu instytucjonalnym 2012</td>
              </tr>
              <tr>
                <td class="check"><input value="2-0-2011.csv" type="checkbox" /></td>
                <td>Fundusze celowe w ujęciu tradycyjnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="2-1-2011.csv" type="checkbox" /></td>
                <td>Fundusze celowe w ujęciu zadaniowym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="2-2-2011.csv" type="checkbox" /></td>
                <td>Agencje państwowe w ujęciu tradycyjnym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="2-3-2011.csv" type="checkbox" /></td>
                <td>Agencje państwowe w ujęciu zadaniowym 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="3-0-2011.csv" type="checkbox" /></td>
                <td>Wydatki Narodowego Funduszu Zdrowia - dane zagregowane na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="3-1-2011.csv" type="checkbox" /></td>
                <td>Wydatki Narodowego Funduszu Zdrowia - dane ośrodków regionalnych na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2007.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2007</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2008.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2008</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2009.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2009</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2010.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2010</td>
              </tr>
              <tr>
                <td class="check"><input value="4-0-2011.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty ogólnopolskie na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2007.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2007</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2008.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2008</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2009.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2009</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2010.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2010</td>
              </tr>
              <tr>
                <td class="check"><input value="4-1-2011.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty wojewódzkie na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="4-2-2008.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty powiatowe na rok 2008</td>
              </tr>
              <tr>
                <td class="check"><input value="4-2-2009.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty powiatowe na rok 2009</td>
              </tr>
              <tr>
                <td class="check"><input value="4-2-2010.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty powiatowe na rok 2010</td>
              </tr>
              <tr>
                <td class="check"><input value="4-2-2011.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty powiatowe na rok 2011</td>
              </tr>
              <tr>
                <td class="check"><input value="4-3-2008.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty gminne na rok 2008</td>
              </tr>
              <tr>
                <td class="check"><input value="4-3-2009.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty gminne na rok 2009</td>
              </tr>
              <tr>
                <td class="check"><input value="4-3-2010.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty gminne na rok 2010</td>
              </tr>
              <tr>
                <td class="check"><input value="4-3-2011.csv" type="checkbox" /></td>
                <td>Projekty Europejskiego Funduszu Rozwoju Regionalnego - projekty gminne na rok 2011</td>
              </tr>
              </tbody>
            </table>
          </section>
        </form>
        <!-- D O W N L O A D   B U T T O N -->
        <div class="pl-bt-container">
          <div id="pl-dl-button" class="blue button">Pobierz</div>
        </div>

        <!-- H I D D E N   D O W N L O A D   F O R M -->
        <form id="pl-dl-hidden-form" action="/download/" method="post" style="display: none;">
          <input type="text" name="csv_string" />
        </form>
      </section> <!-- E O:  D O W N L O A D   P A N E L -->

      
      <!-- F E E D B A C K  P A N E L -->
      <section class="panel" id="pl-feedback">
        <header>
          <p class="panel-title">Wyraź opinię</p>
          <img src="/site_media/img/info.png" 
               alt="Ikona informacji" 
               class="panel-icon" />
          <p class="panel-desc">Podziel się z nami swoimi spostrzeżeniami na temat portalu</p>
        </header>

        <!-- F E E D B A C K   F O R M -->
        <section class="panel-main">
          <form action="/feedback/" method="post">
            <input name="pl-fb-email" type="text" placeholder="Twój adres email" class="input-text" id="pl-fb-email" value="" /><br />
            <textarea name="pl-fb-message" placeholder="Twoje uwagi" id="pl-fb-message"></textarea><br />
          </form>
        </section>
        <!-- F E E D B A C K   B U T T O N -->
        <div class="pl-bt-container">
          <div id="pl-fb-button" class="blue button">Wyślij opinię</div>
        </div>
      </section>
      
      <div id="pl-close-bar" class="button">
        Zamknij panel
      </div>
    </section> <!-- E O:  P A N E L S -->

    <!-- A P P L I C A T I O N -->
    <section id="application">
      <header>
        <nav id="app-tabs">
          <ul>
            <li id="app-tbs-table" class="tab button active">tabela</li>
            <li id="app-tbs-share" class="tab button">udostępnij</li>
          </ul>
        </nav>
      </header>

      <!-- T A B L E -->
      <section id="app-table" class="app-container">
        <header> 
          <div id="app-tb-save-sheet" class="blue button left">Kopiuj do arkusza</div>
          <ul id="app-tb-sheets">
            <!-- <li class="tab button active">Budżet zadanio...</li>
            <li class="tab button">Arkusz 1</li>
            <li class="tab button">Narodowy Fun...</li>-->
          </ul>
        </header>
        <section class="panel-main">
          <!-- T A B L E   T O O L S -->
          <section id="app-tb-tools">
            <section>
              <h3 id="app-tb-tl-title" class="left"></h3>
              <form id="app-tb-tl-rename-form" style="display: none;" class="left" >
                  <input type="text" class="input-text" id="app-tb-tl-rename-input" /> 
              </form>
              <div id="app-tb-tl-old-title" class="left" style="display: none;" > </div>
              <div id="app-tb-tl-rename-button" class="button left">Zmień nazwę</div>
              <div id="app-tb-tl-bt-container" class="right">
                <div id="app-tb-tl-clear-button" class="button left">Wyczyść tabelę</div>
                <div id="app-tb-tl-sort-button" class="button left">Sortuj</div>
                <div id="app-tb-tl-filter-button" class="button left">Filtruj</div>
              </div>
            </section>
            <!-- S O R T   F O R M -->
            <section id="app-tb-tl-srft-forms">
              <form id="app-tb-tl-sort-form" class="sort-filter-form left">

                <table>
                  <thead>
                    <tr>
                      <th>Wybierz kolumnę</th>
                      <th>Wybierz porządek</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

                <div id="app-tb-tl-sort-add" class="grey button">Dodaj kolejny klucz</div>
                <div id="app-tb-tl-sort-submit" class="blue button">Sortuj</div>

              </form>
              <!-- F I L T E R   F O R M -->
              <form id="app-tb-tl-filter-form" class="sort-filter-form left">

                <table>
                  <thead>
                    <tr>
                      <th>Wybierz kolumnę</th>
                      <th>Wybierz operację</th>
                      <th>Wpisz treść filtra</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

                <div id="app-tb-tl-filter-add" class="grey button">Dodaj kolejny klucz</div>
                <div id="app-tb-tl-filter-submit" class="blue button">Filtruj</div>
                
              </form>
            </section>
            <!-- C O L U M N S -->
            <section>
              <div id="app-tb-tl-columns-button" class="button right">Dodaj/Usuń kolumny</div>
              <br class="clear"/>
              <div id="app-tb-tl-columns-list" class="right">
                <form id="app-tb-tl-columns-form">    
                  <div id="app-tb-tl-lt-select" class="grey button left">Zaznacz wszystkie</div>
                  <div id="app-tb-tl-lt-unselect" class="grey button left">Odznacz wszystkie</div>
                  <div id="app-tb-tl-lt-submit" class="blue button left">Dodaj/Usuń</div>
                  <br class="clear" />
                  <table>
                    <tbody></tbody>
                  </table>
                </form>
                </div>
            </section>
          </section>

          <!-- D A T A   T A B L E  --> 
          <table id="app-tb-datatable">
            <thead></thead>
            <tbody></tbody>
          </table>
          
          <!-- F I L T E R E D   T A B L E -->
          <table id="app-tb-filteredtable">
            <thead></thead>
            <tbody></tbody>
          </table>

        </section> <!-- E O:  M A I N   P A N E L --> 
      </section> <!-- E O:  T A B L E -->
      <!-- S H A R E -->
      <section id="app-share" class="app-container">
          
        <section id="app-sh-panel" class="panel-main">
          <p>Wybierz arkusze, które chcesz udostępnić innym.</p>
          <hr />
          <table id="app-sh-table"><!-- generated dynamically -->
          </table>
        </section>

        <div class="pl-bt-container" style="margin-top: -5px; width: 500px">
          <div id="app-sh-submit" class="rounded blue button left" style="margin-top: 5px;">Generuj permalink</div>
          <div id="app-sh-permalink" class="left" style="margin-left: 101px;"><input type="text" class="input-text" style="width: 200px;"/></div>
        </div>

      </section> <!-- E O:  S H A R E -->

    </section> <!-- E O:  A P P L I C A T I O N -->
    </div>
 </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <!-- minification area: /site_media/test/ -->
  <script src="/site_media/test/hide.js"></script>
  <script src="/site_media/test/assert.js"></script>
  <script src="/site_media/test/store.js"></script>
  <script src="/site_media/test/db.js"></script>
  <script src="/site_media/test/gui.js"></script>
  <script src="/site_media/test/table.js"></script>
  <script src="/site_media/test/sheet.js"></script>
  <script src="/site_media/test/utils.js"></script>
  <script src="/site_media/test/tools.js"></script>    
  <script src="/site_media/test/algorithms.js"></script>
  <script src="/site_media/test/download.js"></script>
  <!-- OEF minification area -->
  <script type="text/javascript" language="javascript">
  // <![CDATA[
      (function () {
        // new template
        _store.meta_data( {{ meta.meta_data|safe }} );       
        {% if idef %}
        _gui.init_gui( true ); 
        _gui.restore_session( {{ idef }} );
        _basic_url = '/app/';
        {% else %}
        _gui.init_gui(); 
        _basic_url = '';

        $('.main-site').not('#ms-main').hide();
        $('.main-tab').click( function () {
          var tab = $(this).attr('id').split('-').pop();
          $('.main-tab').removeClass('active');
          $(this).addClass('active');

          $('.main-site').hide();
          $('#ms-'+tab).show();
        });
        $('#mt-toggle').trigger( $.Event( 'click' ));
        {% endif %}
      })();
  // ]]>
  </script> 

</body>
</html>

