<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/classes.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/table_style.css" />
    <title>Raw Salad: surowe dane w różnych smakach</title>
  </head>
  <body>
    <div id="wraper">

      <header>
        <nav id="top-menu">
            <div id="top-choose" class="tab button active">
              Kolekcje danych 
            </div>
            <div id="top-search" class="tab button">
              Szukaj
            </div>
            <div id="top-download" class="tab button">
              Pobierz
            </div>
        </nav>
      </header>

    {% block app %}
    {% endblock %}

    </div>

    <script src="http://code.jquery.com/jquery-1.6.1.js"></script>
    <script src="/site_media/js/hide.js"></script>
    <script src="/site_media/js/assert.js"></script>
    <script src="/site_media/js/store.js"></script>
    <script src="/site_media/js/db.js"></script>
    <script src="/site_media/js/gui.js"></script>
    <script src="/site_media/js/table.js"></script>
    <script src="/site_media/js/sheet.js"></script>
    <script src="/site_media/js/utils.js"></script>
    <script src="/site_media/js/tools.js"></script>    
    <script src="/site_media/js/algorithms.js"></script>
    <script src="/site_media/js/download.js"></script>
    <script type="text/javascript" language="javascript" charset="utf-8">
    // <![CDATA[
        _store.meta_data( {{ meta_data|safe }} );       
        _gui.init_gui(); 
    // ]]>
    </script>
    
    {% block js %}    
    {% endblock %}
    
  </body>
</html>
