<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/table_style.css" />
  </head>
  <body>
    <div id="wraper">
      <div id="header">
        <div id="upper-header" class="header">
          <div id="logo">
            poukładane
          </div>
          <div id="upper-menu">
            <div class="menu-position">
              pomoc
            </div>
            <div class="menu-position">
              baza wiedzy
            </div>
            <div class="menu-position">
              API
            </div>
            <div class="menu-position">
              napisz do nas
            </div>
          </div>
        </div>
        <div id="lower-header" class="header">
          <div id="back-to-main" class="left">
            powrót do portalu
          </div>
          <div id="search" class="left">
            <img src="/site_media/img/search.png" />
          </div>
          <div id="lower-menu">
            <div class="menu-position">
              drukuj
            </div>          
            <div class="menu-position">
              wczytaj sesję
            </div>
          </div>
        </div>
      </div>

    {% block app %}
    {% endblock %}

    </div>

    <script src="/site_media/js/jquery.js"></script>
    <script src="/site_media/js/store.js"></script>
    <script src="/site_media/js/db.js"></script>
    <script src="/site_media/js/gui.js"></script>
    <script src="/site_media/js/table.js"></script>
    <script src="/site_media/js/sheet.js"></script>
    <script src="/site_media/js/utils.js"></script>
    <script src="/site_media/js/ttools.js"></script>    
    <script src="/site_media/js/sort_filter.js"></script>
    <script type="text/javascript" language="javascript" charset="utf-8">
    // <![CDATA[
        _store.meta_data( {{ meta_data|safe }} );       
        _gui.init_gui();
    // ]]>
    </script>
    
    {% block js %}    
    {% endblock %}
    
  </body>
</html>
