{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/site_media/media/css/header.css" />
<link rel="stylesheet" href="/site_media/media/css/help.css" />
<link rel="stylesheet" href="/site_media/media/css/new_browse_style.css" />
<link rel="stylesheet" href="/site_media/media/css/table_style.css" />
{% endblock %}


{% block javascripts %}
    <script src="/site_media/media/js/browse.js"></script>
    <script src="/site_media/media/js/budget_data.js"></script>    
    <script src="/site_media/media/js/tools.js"></script>    
    <script src="/site_media/media/js/table_manager.js"></script>
{% endblock %}

{% block content %}
<!-- H E A D E R -->
<div id="header">
    <div id="toolbar">
        <div id="upper-toolbar">
            <div id="back-to-main" class="button">
                <img id="back-to-main-arrow" src="/site_media/media/img/back-to-main-arrow.png" />
                <a href="/">powrót na główną</a>
            </div>
            <div id="saved-sessions" class="button grey">
                zapisane sesje
            </div>
        </div>
        <div id="lower-toolbar">
            <div id="selected-items" class="button">
                <img id="selected-items-icon" src="/site_media/media/img/arrow.open.lista.png" />                    
                wybrane pozycje
            </div>
            <div id="download" class="button grey">
                zapisz na dysk
            </div>
        </div>
    </div>
    <div id="navigation">
        <a href="/choose/col/1/" border="0">
            <img id="nav-01" src="/site_media/media/img/navigation/02_01.png" border="0" alt="Belka nawigacyjna" />
        </a>
        <img id="nav-02" src="/site_media/media/img/navigation/02_02.png" border="0" alt="Belka nawigacyjna" />
        <img id="nav-03" src="/site_media/media/img/navigation/02_03.png" border="0" alt="Belka nawigacyjna" />                        
    </div>
    <div id="logo">
        <img src="/site_media/media/img/logo.png" alt="Logo portalu" />                
    </div>
</div>

<!-- H E L P  L I N E -->
<div id="help">
    <div id="help-button" class="button pink">
        pomocy!
    </div>
    <div id="help-line">
        Eksplorując tabelę zaznacz interesujące cię pozyje i zapisz je w arkuszach, następnie pobierz dane lub zobacz wizualizacje
    </div>
    <div id="help-base" class="button grey">
        baza wiedzy
    </div>
    <div id="more-help" class="help-line-text">
Lorem ipsum dolor <i>sit amet, consectetur adipisicing elit</i>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi <b>ut aliquip ex ea commodo consequat</b>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
    </div>    
</div>

<!-- M A I N   C O N T E N T -->
<div id="application">
  <div id="content">
    
    <!-- C O N T E N T   H E A D E R -->
    <div id="content-header">
        <div id="collection-name">
            Budżet centralny > Budżet zadaniowy
        </div>
        <div id="share-button">
            podziel się
        </div>
        <div id="bread-crumb">
            Bread-crumb > Bread-crumb > Bread-crumb  
        </div>
        <div id="table-toolbar">
            <div id="statistics">
                Statystyki: 123 Statystyki: 456
            </div>
            <div id="tools">
                <div>zaznaczanie</div>            
                <div>kolumny</div>
                <div>sortuj</div>
                <div>filtruj</div>
            </div>
        </div>
    </div>
  
  
      <!-- T A B L E   C O N T A I N E R   F O R   J A V A S C R I P T -->
      <div id="table"> </div>

  </div>
  <div id="snapshots">

  </div>
  <div id="selected-items-list">

  </div>
</div>
{% endblock %}
































