{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/site_media/media/css/browse_style.css" />
<link rel="stylesheet" href="/site_media/media/css/table_style.css" />
{% endblock %}


{% block javascripts %}
    <script src="/site_media/media/js/browse.js"></script>
    <script src="/site_media/media/js/budget_data.js"></script>    
    <script src="/site_media/media/js/tools.js"></script>    
    <script src="/site_media/media/js/table_manager.js"></script>
{% endblock %}

{% block content %}
<!-- H E A D E R -->
<div id="header">
  <div id="logo" class="left">
    <img src="/site_media/media/img/choose/logo.png" class="left" />

    <img id="nav-01" src="/site_media/media/img/navigation/02_01.png" class="left" border="0" />
    <img id="nav-02" src="/site_media/media/img/navigation/02_02.png" class="left" border="0" />
    <img id="nav-03" src="/site_media/media/img/navigation/02_03.png" class="left" border="0" onclick="alert('Przejdź do etapu wizualizacji');" />

  </div>
</div>

<!-- H E L P  L I N E -->
<div id="help-line">
  <img id="help-icon" src="/site_media/media/img/help_icon.png" alt="help" title="help" />
  <div id="help-line-info" class="help-line-text">Przejrzyj dane, zapisz je w zakładkach i przejdź do wizualizacji</div>
  <div id="more-help" class="help-line-text">
    Na tym etapie prac wybierasz z jakiej perspektywy chciałbyś przeglądać wybraną kolekcję. Dostępne perspektywy podzieliliśmy na strukturalne (te, które prezentują surowe dane) i zagadnieniowe (te, które zawierają efekty pewnej agregacji danych i pomagają odpowiedzieć na określone pytania). 
  </div>
</div>

<!-- M A I N   C O N T E N T -->
<div id="main-panel">

  <!-- P A N E L   H E A D E R -->
  <div id="panel-header">
    <div id="left-head">
      <div id="info-pane">
        INFO
      </div>
    </div>
    <div id="right-head">
      <div id="toolbar">
        <div onclick="alert('Przejdź do bazy wiedzy');">
          <img src="/site_media/media/img/baza_wiedzy_icon.png" title="Baza wiedzy">
        </div>
        <div onclick="alert('Pobierz dane');">
          <img src="/site_media/media/img/download.png" title="Pobierz">
        </div>
        <div onclick="alert('Zobacz zapisane sesje lub zapisz bieżącą');">
          <img src="/site_media/media/img/sessions.png" title="Zapisane sesje">
        </div>
        <div onclick="alert('Przejrzyj zakładki');">
          <img src="/site_media/media/img/snapshots.png" title="Zakładki">
        </div>
      </div>
    </div>
  </div>

  <!-- C O L U M N S  -->
  <div id="panel-columns">
    <div id="left-column">
      <div id="statistics">Największa wartość: 84364630 | Najmniejsza wartość: 287192 | Średnia wartość: 2383478</div>
      <div id="table-toolbar">
        <div class="table-tool">
          filtruj
        </div>
        <div class="table-tool">
          sortuj
        </div>
        <div class="table-tool">
          +/-
        </div>
        <div class="table-tool">
          v
        </div>
      </div>

      <div id="table"> </div>

    </div>
    <div id="right-column">

    </div>      
  </div>
</div>
{% endblock %}
