<section id="top-panels">

<!--  C O L L E C T I O N S   P A N E L  --> 
<div id="choose-panel" class="panel">

  <div id="choose-header" class="panel-header">
    <div id="info-info" class="panel-info left"></div>
    <div id="info-title" class="panel-title left">
        Dostępne kolekcje
    </div>
    <div id="info-icon" class="panel-icon left">
      <img src="/site_media/img/info.png" />
    </div>
    <div id="info-text" class="panel-info-text left">
        Wybierz jedną z dostępnych kolekcji danych
    </div>
  </div>
  
  <div id="choose-main-panel" class="panel-main">
    <img id="back-to-datasets" src="/site_media/img/datasets.png" class="left" />

    <div id="choose-datasets" class="left"></div>
    <div id="choose-perspectives" class="left"></div>    
  </div>
    
</div>

<!--  S E A R C H   P A N E L  --> 
<div id="search-panel" class="panel">

  <div id="search-header" class="panel-header">
    <div id="info-info" class="panel-info left"></div>
    <div id="info-title" class="panel-title left">
        Wyszukaj danych
    </div>
    <div id="info-icon" class="panel-icon left">
      <img src="/site_media/img/info.png" />
    </div>
    <div id="info-text" class="panel-info-text left">
        Wpisz interesujące cię hasło
    </div>
  </div>
  
  <div id="search-main-panel" class="panel-main">
    <form id="search-form">
        <input type="text" name="search-query" id="search-text">
        <input type="submit" value="Wyszukaj" id="search-button">
        <input type="checkbox" id="strict-match">Dopasowanie dokładne
    </form>

    <button id="show-found-button" type="button">Przejdź do zaznaczonych</button>

  </div>
    
</div>

<!--  D O W N L O A D   P A N E L  -->
<div id="download-panel" class="panel">

  <div id="download-header" class="panel-header">
    <div id="info-info" class="panel-info left"></div>
    <div id="info-title" class="panel-title left">
        Pobierz dane
    </div>
    <div id="info-icon" class="panel-icon left">
      <img src="/site_media/img/info.png" />
    </div>
    <div id="info-text" class="panel-info-text left">
        Zaznacz arkusze lub kolekcje danych, by móc je pobrać
    </div>
  </div>
  
  <div id="download-main-panel" class="panel-main">
    <div id="sheets-download">
      <p>Zaznacz arkusze, które chcesz zapisać na dysku</p>
      <hr />
      <table>
        <tr>
          <td style="width: 150px; padding-top: 45px;">
              <div id="download-select-all" class="grey button select-all">Zaznacz wszystkie</div><br />
              <div id="download-unselect-all" class="grey button select-all">Odznacz wszystkie</div>
          </td>
          <td>
              <form>
                <table id="download-table">
                  <thead>
                    <tr>
                      <th></th> <th class="under">Dane w arkuszu</th> <th></th> 
                      <th class="under">Cala kolekcja</th> <th class="under"></th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </form>
          </td>
        </tr>
      </table>
      <br />
    </div> <!-- EO: sheets-download -->
    <br />
    <div id="collections-download" style="clear: both;">
      <p>Pobierz pełne kolekcje danych</p>
      <hr />
      <table>
        <tr>
          <td style="width: 150px; padding-top: 45px;">
              <div id="download-select-all" class="grey button select-all">Zaznacz wszystkie</div><br />
              <div id="download-unselect-all" class="grey button select-all">Odznacz wszystkie</div>
          </td>
          <td>
              <form>
                <table>
                  <tbody>
                    <tr> <td>Budżet centralny > Budżet tradycyjny > 2011</td> </tr>
                    <tr> <td>Budżet centralny > Budżet zadaniowy > 2011</td> </tr>
                    <tr> <td>Budżet centralny > Budżet zadaniowy > 2012</td> </tr>
                    <tr> <td>Budżet centralny > Budżet instytucjonalny > 2011</td> </tr>
                    <tr> <td>Budżet centralny > Budżet instytucjonalny > 2012</td> </tr>
                  </tbody>
                </table>
              </form>
          </td>
        </tr>
    </div> <!-- EO: collections-download -->
    <br />

      <hr />
      <br />
      <div id="download-button" class="blue button">Pobierz</div>
      <form id="download-form" action="/download/" method="post">
          <input type="text" name="sheets" />
      </form>
  </div>
</div>

<div id="open-close-choose-panel" class="button">
   zamknij panel
</div>
</section>
