<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />  
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="wraper">
      <div id="table-container">
        <div id="table-toolbar">
          <div class="left">BUDŻET ZADANIOWY</div>
          <div class="right" id="filter">filter</div>          
          <div class="right" id="sort">sort</div>
          <div class="right" id="remove-column">-</div>
          <div class="right" id="add-column">+</div>
          <div class="right" id="select">v</div>
        </div>
        <table>
          <tr>
            <th class="function">Typ</th>
            <th class="name">Nazwa</th>
            <th class="organ">Organ</th>
            <th class="total">Wartość</th>
          </tr>
          <tr>
            <td class="function fopen">Funkcja 1</td>
            <td class="name">Zarządzanie państwem</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">1 179 809</td>
          </tr>
          <tr>
            <td class="task topen">Zadanie 1.1</td>
            <td class="name">Obsługa merytoryczna, techniczna i kancelaryjno-biurowa Prezydenta Rzeczypospolitej</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">120 485</td>
          </tr>
          <tr>
            <td class="subtask">Podzadanie 1.1.1</td>
            <td class="name">Obsługa i koordynacja prac Kancelarii Prezydenta Rzeczypospolitej Polskiej</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">120 485</td>
          </tr>                    
          <tr>
            <td class="task topen">Zadanie 1.2</td>
            <td class="name">Obsługa Parlamentu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">461 126</td>
          </tr>
          <tr>
            <td class="subtask">Podzadanie 1.2.1</td>
            <td class="name">Obsługa sejmu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">404 960</td>
          </tr>                                  
          <tr>
            <td class="subtask">Podzadanie 1.2.2</td>
            <td class="name">Obsługa senatu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">56 166</td>
          </tr>                                                                
          <tr>
            <td class="function fopen">Funkcja 2</td>
            <td class="name">Bezpieczeństwo wewnętrzne i porządek publiczny</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">13 652 100</td>
          </tr>
          <tr>
            <td class="task topen">Zadanie 1.1</td>
            <td class="name">Obsługa merytoryczna, techniczna i kancelaryjno-biurowa Prezydenta Rzeczypospolitej</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">120 485</td>
          </tr>
          <tr>
            <td class="subtask">Podzadanie 1.1.1</td>
            <td class="name">Obsługa i koordynacja prac Kancelarii Prezydenta Rzeczypospolitej Polskiej</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">120 485</td>
          </tr>                    
          <tr>
            <td class="task topen">Zadanie 1.2</td>
            <td class="name">Obsługa Parlamentu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">461 126</td>
          </tr>
          <tr>
            <td class="subtask">Podzadanie 1.2.1</td>
            <td class="name">Obsługa sejmu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">404 960</td>
          </tr>                                  
          <tr>
            <td class="subtask">Podzadanie 1.2.2</td>
            <td class="name">Obsługa senatu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">56 166</td>
          </tr>                                                                
          <tr>
            <td class="function fclosed">Funkcja 2</td>
            <td class="name">Bezpieczeństwo wewnętrzne i porządek publiczny</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">13 652 100</td>
          </tr>   
          <tr>
            <td class="function fopen">Funkcja 1</td>
            <td class="name">Zarządzanie państwem</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">1 179 809</td>
          </tr>
          <tr>
            <td class="task topen">Zadanie 1.1</td>
            <td class="name">Obsługa merytoryczna, techniczna i kancelaryjno-biurowa Prezydenta Rzeczypospolitej</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">120 485</td>
          </tr>
          <tr>
            <td class="subtask">Podzadanie 1.1.1</td>
            <td class="name">Obsługa i koordynacja prac Kancelarii Prezydenta Rzeczypospolitej Polskiej</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">120 485</td>
          </tr>                    
          <tr>
            <td class="task topen">Zadanie 1.2</td>
            <td class="name">Obsługa Parlamentu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">461 126</td>
          </tr>
          <tr>
            <td class="subtask">Podzadanie 1.2.1</td>
            <td class="name">Obsługa sejmu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">404 960</td>
          </tr>                                  
          <tr>
            <td class="subtask">Podzadanie 1.2.2</td>
            <td class="name">Obsługa senatu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">56 166</td>
          </tr>                                                                
          <tr>
            <td class="function fopen">Funkcja 2</td>
            <td class="name">Bezpieczeństwo wewnętrzne i porządek publiczny</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">13 652 100</td>
          </tr>
          <tr>
            <td class="task topen">Zadanie 1.1</td>
            <td class="name">Obsługa merytoryczna, techniczna i kancelaryjno-biurowa Prezydenta Rzeczypospolitej</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">120 485</td>
          </tr>
          <tr>
            <td class="subtask">Podzadanie 1.1.1</td>
            <td class="name">Obsługa i koordynacja prac Kancelarii Prezydenta Rzeczypospolitej Polskiej</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">120 485</td>
          </tr>                    
          <tr>
            <td class="task topen">Zadanie 1.2</td>
            <td class="name">Obsługa Parlamentu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">461 126</td>
          </tr>
          <tr>
            <td class="subtask">Podzadanie 1.2.1</td>
            <td class="name">Obsługa sejmu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">404 960</td>
          </tr>                                  
          <tr>
            <td class="subtask">Podzadanie 1.2.2</td>
            <td class="name">Obsługa senatu i jego organów w zakresie merytorycznym, organizacyjnym, finansowym i technicznym</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">56 166</td>
          </tr>                                                                
          <tr>
            <td class="function fclosed">Funkcja 2</td>
            <td class="name">Bezpieczeństwo wewnętrzne i porządek publiczny</td>
            <td class="organ">Kancelaria Prezesa Rady Ministrów</td>
            <td class="total">13 652 100</td>
          </tr>                             
        </table>
      </div>
    </div>
    
    <!--  JavaScript Section  -->
    <script src="./js/myjs.js" type="text/javascript"></script>
  </body>
</html>
