<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/site_media/media/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/media/css/table_style.css" />
  </head>
  <body>
    <div id="wraper">
      <div id="header">
        <div id="upper-header" class="header">
          <div id="logo">
            poukładane
          </div>
          <div id="upper-menu">
            <div class="menu-position">
              pomoc
            </div>
            <div class="menu-position">
              baza wiedzy
            </div>
            <div class="menu-position">
              drukuj
            </div>
            <div class="menu-position">
              API
            </div>
            <div class="menu-position">
              napisz do nas
            </div>
          </div>
        </div>
        <div id="lower-header" class="header">
          <div id="back-to-main" class="left">
            powrót do portalu
          </div>
          <div id="search" class="left">
            <img src="/site_media/media/img/search.png" />
          </div>
          <div id="lower-menu">
            <div class="menu-position">
              pobież na dysk
            </div>
            <div class="menu-position">
              podziel się
            </div>
            <div class="menu-position">
              wczytaj sesję
            </div>
            <div class="menu-position">
              lista wybranych pozycji
            </div>
          </div>
        </div>
      </div>

      <div id="choose-panel">

        <div id="choose-header">
          <div id="choose-collection-name" class="left">
            Budżet centralny
          </div>
          <div id="info-icon" class="left">
            <img src="/site_media/media/img/info.png" />
          </div>
          <div id="info-text" class="left">
            Każda pozycja na liście udostępnia te same dane, lecz inaczej zorgranizowane.
          </div>
        </div>
        <div id="choose-main-panel">

          <!-- COLLECTIOINS -->
          <div id="choose-collections">

            <div id="choose-collections-list" class="left">
              <div class="left">
                <div class="position">
                  <div class="position-title">
                    Budżet centralny
                  </div>
                  <div class="position-desc">
                    Czyli ustawa budżetowa w sześciu różnych ujęciach
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

                <div class="position">
                  <div class="position-title">
                    Fundusze celowe i agencje
                  </div>
                  <div class="position-desc">
                    Budżet jednej z najważniejszych części finansów publicznych
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

                <div class="position">
                  <div class="position-title">
                    Narodowy Fundusz Zdrowia
                  </div>
                  <div class="position-desc">
                    Budżety centralny i regionalne Narodowego Funduszu Zdrowia
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

              </div>


              <div class="left" style="margin-left: 130px;">
                <div class="position">
                  <div class="position-title">
                    Krajowy Fundusz Drogowy
                  </div>
                  <div class="position-desc">
                    Budżet jednego z funduszy celowych prowadzonych przez Bank Gospodarki Krajowej
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

                <div class="position">
                  <div class="position-title">
                    Wybory Samorządowe
                  </div>
                  <div class="position-desc">
                    Dane Państwowej Komisji Wyborczej z wyborów samorządowych 2010
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

              </div>

            </div>
          </div>

          <!-- PERSPECTIVES -->
          <div id="choose-perspectives">
            <div id="choose-perspectives-back-image" class="left">
              <img id="back-to-collections" src="/site_media/media/img/collections.png" />
            </div>
            <div id="choose-perspectives-list" class="left">
              <div class="left">
                <div class="position">
                  <div class="position-title">
                    Budżet księgowy
                  </div>
                  <div class="position-desc">
                    Podstawowy sposób organizacji ustawy budżetowej.
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

                <div class="position">
                  <div class="position-title">
                    Budżet zadaniowy
                  </div>
                  <div class="position-desc">
                    Budżet zadaniowy to uzasadnienie ustawy budżetowej. Dzieli państwo na dwadzieścia dwie funkcje.
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

                <div class="position">
                  <div class="position-title">
                    Budżet instytucjonalny
                  </div>
                  <div class="position-desc">
                    Sposób organizacji danych budżetowych za klucz obierający dysponentów pozycji budżetowych.
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

              </div>


              <div class="left" style="margin-left: 130px;">
                <div class="position">
                  <div class="position-title">
                    Środki unijne i własne
                  </div>
                  <div class="position-desc">
                    Przegląd stosunku wykorzystania środków unijnych w porównaniu ze środkami własnymi Polski
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

                <div class="position">
                  <div class="position-title">
                    Wynagrodzenia a inwestycje
                  </div>
                  <div class="position-desc">
                    Przegląd wydatków inwestycyjnych w porównaniu z wynagrodzeniami w budżecie centralnym.
                  </div>
                  <div class="position-more">
                    szczegóły
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div id="open-close-choose-panel">
        zmień dane
      </div>
      <div id="application">

        <!-- T A B S -->
        <div id="tabs">

          <div class="tab active">
            tabela
          </div>
          <div class="tab inactive">
            wizualizacja
          </div>
          <div class="tab inactive">
            statystyki
          </div>

        </div>

        <div id="snapshots">
          <div class="snapshot active">
            Arkusz podstawowy
          </div>
          <div id="snap-1" class="snapshot">
            Zdrowie i kultura
          </div>
          <div id="snap-2" class="snapshot">
            Mój arkusz
          </div>
          <div id="save-snapshot">
            Zapisz arkusz
          </div>
        </div>

        <div id="table-toolbar">
            <div id="statistics">
                Budżet centralny > Budżet zadaniowy
            </div>
            <div id="tools">
                <div>zaznaczanie</div>
                <div>kolumny</div>
                <div id="sort-button">sortuj</div>
                <div id="filter-button">filtruj</div>
            </div>
        </div>

        <div id="sort-popup">
           <form id="sort-form" action="">
            <select name="columns" class="key-1">
              <option value="null" class="key-1" selected>Wybierz kolumnę</option>                        
              <option value="name" class="key-1">Nazwa</option>
              <option value="v_eu" class="key-1">Środki europejskie</option>
              <option value="v_nation" class="key-1">Środki własne</option>
              <option value="v_total" class="key-1">Wartość ogółem</option>              
            </select>

            Rosnąco <input class="radio key-1" type="radio" name="key-1-order" value="-1" checked /> 
            Malejąco <input class="radio key-1" type="radio" name="key-1-order" value="1" /> 

            <input type="submit" value="Sortuj" />
            <br />

            <select name="columns" class="key-2">
              <option value="null" class="key-2" selected>Wybierz kolumnę</option>            
              <option value="name" class="key-2">Nazwa</option>
              <option value="v_eu" class="key-2">Środki europejskie</option>
              <option value="v_nation" class="key-2">Środki własne</option>
              <option value="v_total" class="key-2">Wartość ogółem</option>              
            </select>

            Rosnąco <input class="radio key-2" type="radio" name="key-2-order" value="-1" checked /> 
            Malejąco <input class="radio key-2" type="radio" name="key-2-order" value="1" /> 
            
            <br />

            <select name="columns" class="key-3">
              <option value="null" class="key-3" selected>Wybierz kolumnę</option>                        
              <option value="name" class="key-3">Nazwa</option>
              <option value="v_eu" class="key-3">Środki europejskie</option>
              <option value="v_nation" class="key-3">Środki własne</option>
              <option value="v_total" class="key-3">Wartość ogółem</option>              
            </select>

            Rosnąco <input class="radio key-3" type="radio" name="key-3-order" value="-1" checked /> 
            Malejąco <input class="radio key-3" type="radio" name="key-3-order" value="1" /> 

          </form>

        </div>
        <!-- T A B E L -->
        <div id="table" style="clear: both">
        </div>
       
      </div>
    </div>
    <script src="/site_media/media/js/jquery.js"></script>
    <script src="/site_media/media/js/script.js"></script>
    <script src="/site_media/media/js/tools.js"></script>
    <script src="/site_media/media/js/budget_data.js"></script>
    <script src="/site_media/media/js/table_manager.js"></script>
    <script src="/site_media/media/js/sort_filter.js"></script>
  </body>
</html>
