{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/site_media/media/css/style.css" />
{% endblock %}


{% block javascripts %}
<script src="/site_media/media/js/main_page.js" type="text/javascript"></script> 
{% endblock %}

{% block content %}
<!-- H E A D E R -->
<div id="header">
	<div id="logo" class="left">
		<img src="/site_media/media/img/logo.png" />                
	</div>
	<div id="menu" class="right">
		<img id="saved_sessions" src="/site_media/media/img/save_session.png" class="right"/>                
		<div class="menu-item right" onclick = "alert('Pojawia się dokumentacja');" title = "Zobacz dokumentację">Dokumentacja/API</div>                                
		<div class="menu-item right" onclick = "alert('Przechodzisz do bazy wiedzy');" title = "Zobacz bazę wiedzy">Baza wiedzy</div>
		<div class="menu-item right" onclick = "alert('Przechodzisz do informacji o portalu');" title = "Zobacz info o portalu">O portalu</div>
		<img src="/site_media/media/img/search.png" class="right" onclick = "alert('Przechodzisz do okienka szukaj');" title = "Znajdź to, co Cię interesuje"/>
	</div>
	<div id="restore_session">
		<ul>
			<li>21.02.2011, 17:34</li>
			<li>23.02.2011, 09:52</li>
			<li>23.02.2011, 22:43</li>    
		</ul>
	</div>            
</div>

<!-- C O L L E C T I O N S -->
<div id="collections">
	<div id="collections-header">
		Dostępne kolekcje
	</div>
	
	<div id="collections-list">
		{% for data_set in data %}
		<!--  {{ data_set.name }}  -->
		<a href="{{ data_set.url }}">
		<div class="collection active">
			<div class="collection-name">
				{{ data_set.name }}
			</div>
			<div class="collection-desc">
				{{ data_set.descr|safe }}
			</div>
		</div>
		</a>
		{% endfor %}

		<!-- M O R E   S O O N -->
		<div class="collection dim">
			<div class="collection-name dim">
				kolejne niebawem
			</div>
			<div class="collection-desc dim">
				Kolekcja danych będzie się powiększała.
			</div>
		</div>
	
	</div>

</div>

<!-- H E L P   D E S K -->
<div id="help-desk">
	<div id="help-desk-header">
		Jak z nich skorzystać?
	</div>
	<div id="knowladge-base" class="left dim" title = "Przejdź do bzay wiedzy">
		<img src="/site_media/media/img/baza_wiedzy.png" />
	</div>
	<div id="knowladge-base-full" class="left show">
		<img src="/site_media/media/img/baza_wiedzy-full.png" alt="baza" title="baza" />
	</div>            
	<div id="help" class="right dim" title = "Zobacz, jak korzysta się z portalu">
		<img src="/site_media/media/img/help.png" />
	</div>
	<div id="help-full" class="left show">
		<img src="/site_media/media/img/help-full.png" alt="baza" title="baza" />
	</div>            
	
</div>
{% endblock %}