{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/site_media/test/min.css">
    
    <title>Raw Salad: surowe dane w różnych smakach</title>
  </head>
  <body style="background-color: rgb(139, 139, 139); " >
  <div id="wrapper"> 
   <div id="preloader">
     Twoja przeglądarka nie potrafi pokazywać treści zgodnych z najnowszymi standardami.
     Zaktualizuj swoją przeglądarkę, żeby zobaczyć stronę.
     <a href="http://centrumcyfrowe.pl/about/dlaczego-uzywamy-otwartych-standardow-sieciowych/" target="_blank" id="warning-more-info">
         Dowiedz się więcej
     </a>
     .
   </div>
  </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>
  (function () {
    var x = ($(window).width() - $('#preloader').width()) / 2;
    $('#preloader').css({ 'left': x });
  })();
  </script>
</html>
    




