.reset {
  margin: 0px;
  padding: 0px;
}

/*  C S S   D E C L A R A T I O N S  */
* {
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-family: sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

#wraper {
  position: relative;
  width: 960px;
  margin: auto;
  margin-top: 10px;
  background-color: #fff;
}

#header {
    position: relative;
    background: #fff;
    height: auto;
}

    #logo > img {
        margin-bottom: 5px;
    }
    
    #navigation-img:hover {
        cursor: pointer;
    }
    
#help-line {
    clear: both;
    min-height: 21px;

    padding: 2px 0px;
}
    #help-icon {
        float: left;
        margin-right: 5px;
    }
   
    #help-line-info {
        float: left;
        margin-bottom: 5px;
        font-size: 13px;
        color: #bbb;
        font-style: italic;
    }    
    
    #help-line-info:hover {
        color: #555 !important;
        cursor: pointer;
    }

    .help-line-text {
        font-size: 13px;
        color: #555;
        font-style: italic;    
    }
    
    #more-help {
        clear: both;
        height: auto;
        padding-bottom: 5px;
        margin-top: 10px;
        margin-left: 23px;
    }

#main-content {
    position: relative;
    min-height: 654px;
    margin-top: 2px;
    padding: 0px;

    background: /*url('../img/toolbar.png') no-repeat*/ #eaeaea;

    border: 1px solid #a1a09e;
    border-radius: 8px;
    -moz-border-radius: 8px;
}

#big-one {
    position: absolute;
    left: 0px;
    top: 0px;
}

#left-column {
    float: left;
    
    width: 620px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

    #collection-header {
        position: relative;
    
        width: 100%;
        height: auto;
        background-color: #dadada;
        padding-bottom: 5px;

        border-radius: 5px;
        -moz-border-radius: 5px;           
    }    
    
    #collection-name {
        position: relative;
        
        height: auto;
        color: #fff;
        background-color: #000;
        
        border-radius: 5px;
        -moz-border-radius: 5px;
        
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        
        padding: 15px 0px;
    }

    #collection-source {
        position: absolute;
        right: 8px;
        top: 5px;
        
        font-size: 13px;
        font-style: italic;
        font-weight: normal;
        color: #888;
    }
    #collection-source:hover {
        color: #ccc;
        cursor: pointer;
    }
    
    #collection-change {
        position: absolute;
        right: 5px;
        bottom: 5px;
        
        width: 90px;
        height: 15px;
        
        padding: 3px 0px;
        
        background-color: #87cff5;
        text-align: center;
        font-style: italic;
        font-size: 11px;
        color: white;
        
        border-radius: 4px;
        -moz-border-radius: 4px;        
    } 
    #collection-change:hover {
        cursor: pointer;
        background-color: #b9e0f5;
    }
    
    #collection-list {
        position: absolute;
        right: -4px;
        top: 20px;
        width: auto;
        height: auto;
        border: 3px dotted #555;
        border-radius: 8px;
        -moz-border-radius: 8px;        
        padding: 10px;
        padding-top: 35px;
        font-size: 11px;
        text-align: left;
        font-style: italic;        
    }
    
    #collection-list > ul > li {
        list-style-type: none;
    }
    
    #collection-list > ul > li:hover {
        cursor: pointer;
        color: #aaa;
    }    
    
    #collection-desc {
        padding-top: 8px;
        padding-bottom: 4px;
        font-size: 14px;
        font-style: italic;
        color: #666;
        
        text-align: center;
    }
    
    #download-all {
        position: absolute;
        
        right: 5px;
        bottom: 5px;
    }
    
    .perspective-count {
        font-size: 16px;
        color: #666;
        font-style: italic;
        text-align: center;
    }
    
    .perspective {
        width: 290px;
        height: auto;
        padding: 5px;
        background-color: #f5f5f5;
        margin-top: 5px;
        border-radius: 8px;
        -moz-border-radius: 8px;
    }
    #structures {
        float: left;
        margin-left: 0px;
        margin-right: 10px;
    }
    
    #stories {
        float: right;
        margin: right: 5px;
    }
    
    .perspective-title {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }
    
    .perspective-title-desc {
        text-align: center;
        font-size: 12px;
        color: #888;
        padding-top: 3px;
        padding-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 1px #aaa solid;    
    }
    
    .angle {
        position: relative;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    
    .angle-radio {
        position: absolute;
        left: 3px;
        top: 2px;
        width: 10px;
        height: 10px;        
        border: 1px #888 solid;
        
        border-radius: 10px;
        -moz-border-radius: 10px;
    }
    .angle-radio:hover {
        background-color: #ccc;
        cursor: pointer;
    }
    
    .unselected {
        background-color: #fff;
    }
        
    .selected {
        background-color: #33b8e1;
        border: 1px #f8f8f8 solid !important;        
    }
    
    .selected:hover {
        background-color: #33b8e1 !important;
    }
    
    .angle-name {
        color: #33b8e1;
        font-size: 14px;
        font-weight: bold;
        
        padding-left: 20px;
    }

    .angle-desc {
        color: #888;
        font-size: 11px;
        padding: 0px 20px;
    }            
    
    div.angle > div.download {
        width: 15px;
        padding: 5px 20px;
    }
    
    .download-img:hover {
        cursor: pointer;        
    }

#right-column {
    float: right;
    
    width: 316px;
}

    #toolbar > img {
        float: left;
    }

    #toolbar > img:hover {
        cursor: pointer;
    }

    #dataset-about {
        margin-top: 90px;
        margin-left: 8px;
        border-left: 1px #888 solid;
        padding: 5px 10px;;
    }
    
    #dataset-about-header {
        font-weight: bold;
        font-size: 16px;
        color: #888;
        padding-bottom: 10px;
        border-bottom: 1px #888 solid;        
    }

    #dataset-about-desc {
        color: #555;
        padding-top: 10px;
    }
    
