/* G E N E R A L   B U T T O N  */

.button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button:hover {
    cursor: pointer;
}

.blue {
    color: #fff;
    background-color: #4abff7;
}

.blue:hover {
    color: #1ea3e8;
    background-color: #fff;
}

.grey {
    color: #fff;
    background-color: #c8c8c8;
}

.grey:hover {
    color: #1ea3e8;
    background-color: #fff;
}

.text {
    color: #fff;
}

.text:hover {
    color: #d8d8d8;
}

.main-tab {
  font-size: 14px;
  padding: 25px 15px;
  color: #6a6a6a;
}

.main-tab.active {
  background-color: #e8e8e8;
}

.main-tab:hover {
  color: #3a3a3a;
}

.rounded {
  padding: 5px;
  margin: 0px 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

/*  T O G G L E   B U T T O N */
.pushed {
    color: #fff;
    background-color: #767676;
}


/*  S H E E T   T A B S  */
.selected {
    color: #fff;
    background-color: #767676;
}

.selected:hover {
    cursor: default;
}


/* T O P   M E N U   A N D   T A B L E / S H A R E   T A B S */
.tab {
    color: #1ea3e8;
    background-color: #e1e1e1;
    font-weight: normal;
}

.tab:hover {
    color: #fff;
    background-color: #1ea3e8;
}

.active {
    color: #3b3b3b;
    background-color: #c8c8c8;
}

.active:hover {
    cursor: default;
    color: #3b3b3b;
    background-color: #c8c8c8;
}

/* G E N E R A L   C L A S S E S */ 
.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

