/* G E N E R A L   B U T T O N  */

.button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button:hover {
    cursor: pointer;
}

.blue {
    color: #fff;
    background-color: #4abff7;
}

.blue:hover {
    color: #1ea3e8;
    background-color: #fff;
}

.grey {
    color: #fff;
    background-color: #c8c8c8;
}

.grey:hover {
    color: #1ea3e8;
    background-color: #fff;
}

.text {
    color: #fff;
}

.text:hover {
    color: #d8d8d8;
}

.main-tab {
  font-size: 14px;
  padding: 15px 15px;
  color: #6a6a6a;
}

.main-tab:hover {
  color: #438db3;
  background-color: #f4f4f4;
}

.main-tab.active {
  background-color: #e8e8e8;
}

.main-tab.active:hover {
  background-color: #e8e8e8 !important;
}

.rounded {
  padding: 5px;
  margin: 0px 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

.input-text {
  min-width: 200px;
  height: 18px;
  background-color: #fff;

  border: 1px solid #4cbceb;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}



/*  T O G G L E   B U T T O N */
.pushed {
    color: #fff;S
    background-color: #767676;
}

/*  S E A R C H  P A N N E L */
.fixed {
  position: fixed;
  width: 960px;
  top: 5px;
  z-index: 1;
}


/*  S H E E T   T A B S  */
.selected {
    color: #fff;
    background-color: #767676;
}

.selected:hover {
    cursor: default;
}


/* T O P   M E N U   A N D   T A B L E / S H A R E   T A B S */
.tab {
    color: #1ea3e8;
    background-color: #e1e1e1;
    font-weight: normal;
}

.tab:hover {
    color: #fff;
    background-color: #1ea3e8;
}

.active {
    color: #3b3b3b;
    background-color: #c8c8c8;
}

.active:hover {
    cursor: default;
    color: #3b3b3b;
    background-color: #c8c8c8;
}

/* G E N E R A L   C L A S S E S */ 
.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.click:hover {
  cursor: pointer !important;
}
