/*  G E N E R A L   H T M L   T A G S  */
body {
  margin: 0px;
  padding: 0px;

  background-color: #8b8b8b;
  font-family: Arial,sans-serif;
  font-size: 11px;

  cursor: default;
}

a, a:visited {
  color: #1ea3e8;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a.hoverable {
	position: relative;
	cursor: pointer;
}

a.hoverable div.info {
	position: absolute;
	display: none;
	top: 10px;
	left: 5px;
	margin: 0px;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
}

a.hoverable:hover div {
	display: block;
}

ul {
  float: left;
  padding: 0px;
  margin: 0px;

  list-style-type: none;
  display: block;
}


td {
  padding: 5px 0px;
}

h3 {
  margin: 0px;
}

input {
  font-family: Arial,sans-serif;
  font-size: 12px;
}

textarea {
  width: 250px;
  height: 200px;

  margin-top: 5px;

  background-color: #fff;

  font-family: Arial,sans-serif;
  font-size: 12px;
  border: 1px solid #4cbceb;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}


#wrapper {
  width: 960px;
  margin: 0px auto;
  padding: 0px;
}

/*  T O P   M E N U  */
#top {
    width: 920px;
    margin: 0px auto;
}
  #top > nav {
    float: left;
  }

  #top ul li {
    float: left;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 4px;
  }

  #top-menu li {
    width: 170px;
    height: 12px;

    text-align: center;

    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
  }
 
  #top-menu .active {
    height: 15px;
    padding: 8px 5px;
    margin-bottom: 5px;
  }

  #top-menu li+li {
    margin-left: 4px;
  }

  #meta-menu li {
    margin-left: 10px;
  }

  #meta-menu li.active {
    background-color: transparent;
  }

  #mm-feedback {
    margin-top: 4px;
    padding: 2px 5px !important;

    background-color: #5b5b5b;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
  }


/*  P A N E L S  */
#panels {
  width: 960px;
}

  .panel {
    overflow: hidden;
    margin-top: 10px;
  
    background-color: #fff;
  }

  .panel > header {
    overflow: auto;
    clear: both;
    border-bottom: 2px solid #3b3b3b;
  }

  .panel > header > * {
    float: left;
  }

  .panel-title {
    margin: 0px 5px;
    margin-top: 5px;
    padding: 5px;

    color: #fff;
    background-color: #3b3b3b;

    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
  }

  .panel-icon {
    margin-top: 5px;
  }

  .panel-desc {
    margin: 0px 5px;
    margin-top: 5px;
    padding: 5px;

    font-weight: bold;
  }

  .panel-main {
    overflow: hidden;   
    margin: 5px;
    padding: 5px;
    clear: both;
    width: 940px;
    float: left;

    background-color: #e3e3e3;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .panel-main img {
    margin-left: -5px;
  }
  
    #pl-ch-views {
    clear: none;
  }
  
  #pl-ch-datasets {
    clear: none;
  }

  #pl-choose {
    position: relative;
  }

  .pl-ch-back {
    width: 120px;
  }

  .pl-ch-more {
    margin: 0px;
    padding: 5px;
  }

  #pl-ch-area {
    position: relative;
    left: 0px;
    top: 0px;
    width: 2000px;
  }

  #pl-choose li {
    width: 350px;
    margin: 15px;
    padding: 10px;

    overflow: hidden;
  }

  #pl-choose li:hover {
    background-color: #dedede;
  }

  #pl-choose header {
    border-bottom: 1px solid #919191;
  }

  #pl-choose .button+.button {
    margin-right: 5px;
  }

  #pl-choose li > p {
    margin-bottom: 20px;
  }


  td.check {
    padding: 0px 15px;
  }

  .panel .button {
    float: right;

    padding: 5px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .pl-bt-container {
    overflow: auto;
    width: 160px;
    padding-bottom: 5px;
  }

  .pl-dl-select-buttons > div {
    margin-bottom: 5px;
  }

  #pl-fb-email {
    width: 250px;
  }

  #app-tb-tl-rename-button {
    margin-left: 5px;
    padding: 2px 4px;

    color: #4abff7;
    background-color: #fff;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
  }

  #app-tb-tl-rename-button:hover {
    color: #fff;
    background-color: #4abff7;
  }

  #pl-close-bar {
    height: 14px;
    padding: 3px 0px;
    margin-bottom: 10px;

    color: #fff;
    background-color: #1ea3e8;

    text-align: center;
    font-size: 12px;
    font-weight: bold;
    
    border-top: 1px solid #1ea3e8;
  }
  
  #pl-close-bar:hover {
    background-color: #fff;
    color: #1ea3e8;
  }

  .plate {
    line-height: 17px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 150px;
  }

  #pl-sr-more {
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #e1e1e1;
    color: #1ea3e8;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
  }

  #pl-sr-more:hover {
    background-color: #1ea3e8;
    color: #fff;
  }

/*  A P P L I C A T I O N  */
#application {
  overflow: visible;
  width: 960px;
  margin: 0px auto;
  margin-top: 10px;
  padding-bottom: 5px;
  position: relative;

  background-color: #fff;
}

  #application > header {
    overflow: auto;
    background-color: #8b8b8b; /* same as bodyu bgcolor */
  }
  
  #app-cover {
    position: absolute;
    top: 0px;
  }

  #app-tabs {
    margin-left: 5px;
  }

  #app-tabs li {
    float: left;
    width: 150px;

    padding: 3px 0px;
    margin-top: 9px;
    margin-right: 8px;

    font-size: 12px;
    text-align: center;

    border-bottom: 1px solid #1ea3e8;

    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
  }

  #app-tabs li.active {
    margin-top: 4px;
    padding-bottom: 8px;

    background-color: #fff;
    font-weight: bold;

    border-bottom: 1px solid #fff;
  }

  #app-tb-save-sheet {
    margin: 9px;
    margin-bottom: 0px;
    padding: 3px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
  }

  #app-table > .panel-main {
    overflow: visible;
  }

  #app-table header li {
    float: left;

    padding: 4px 5px;
    margin: 9px 3px;
    margin-bottom: 0px;

    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-bottom: 1px solid #1ea3e8;
    
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -o-border-radius: 3px 3px 0px 0px;
  }

  #app-table header li:hover {
    border: 1px solid #1ea3e8;
    background-color: #1ea3e8;
  }

  #app-table header li.active {
    padding: 6px 5px;
    margin: 5px 3px;
    margin-bottom: 0px;
    background-color: #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }

  #app-table header li.active:hover {
    border: 1px solid #c8c8c8;
    border-bottom: 1px solid #e1e1e1;
  }

  #app-table > .main-panel {
    overflow: visible;
  }

  #app-tb-tools > section {
    clear: both;
    padding: 10px;
    padding-bottom: 0px;
  }

  #app-tb-tl-bt-container > div {
    padding: 3px 10px;

    color: #4cbceb;
    background-color: #fff;
  }

  #app-tb-tl-bt-container > div:hover {
    color: #fff;
    background-color: #b7b7b7;
  }

  #app-tb-tl-clear-button {
    margin-right: 10px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
  }

  #app-tb-tl-sort-button {
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    -o-border-radius: 3px 0px 0px 3px;
  }

  #app-tb-tl-filter-button {
    border-left: 1px solid #000;

    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    -o-border-radius: 0px 3px 3px 0px;
  }

  #app-tb-tl-srft-forms > form > *  {
    float: left;
    margin-right: 5px;
  }

  #app-tb-tl-srft-forms > table td {
    vertical-align: top;
    padding: 0px 5px;
  }

  .input-text {
    min-width: 100px;
    height: 18px;
    background-color: #fff;

    border: 1px solid #4cbceb;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
  }

  #app-tb-tl-srft-forms .button {
    margin-top: 25px;
    padding: 5px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
  }

  #app-tb-tl-columns-button {
    padding: 5px 10px;
    color: #4cbceb;
    background-color: #000;

    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
  }
  
  #app-tb-tl-columns-button:hover {
    color: #fff;
  }

  #app-tb-tl-columns-list {
    position: relative;
  }

  #app-tb-tl-columns-list form {
    position: absolute;
    z-index: 30;
    width: 330px;
    padding: 5px;

    right: 0px;
    background-color: #fff;

    border: 2px solid #000;

    border-radius: 5px 0px 5px 5px;
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    -o-border-radius: 5px 0px 5px 5px;
  }

  #app-tb-tl-columns-list td {
    padding: 0px;
  }

  #app-tb-tl-columns-list .button {
    padding: 5px;
    margin-right: 5px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
  }

.close-sheet-button {
  float: right;
  margin: -2px -2px;
  margin-left: 5px;
  padding: 1px 3px;

  font-weight: bold;
  background-color: #969696;
  color: #fff;

  border-radius: 3px;    
  -moz-border-radius: 3px;    
  -webkit-border-radius: 3px;    
  -o-border-radius: 3px;    
}

.close-sheet-button:hover {
  color: #5b5b5b;
  background-color: #b6b6b6;
}

      #app-tb-filteredtable {
         width: 940px;
         border-collapse: collapse;
      }

      #app-tb-filteredtable tr {
        border: 1px solid #a3a3a3;
      }

      #app-tb-filteredtable th {
        background-color: #d4d4d4;
        text-align: left;
        border: 1px solid #a3a3a3;
      }
       
      .filtered-breadcrumb {
        border-left: #e4e4e4 !important;
        border-right: #e4e4e4 !important;
      }

       .filtered-breadcrumb td {
         color: #5b5b5b;
         padding-top: 15px;
         padding-left: 5px;
         font-size: 9px;
       }
 
       .filtered-data td {
         padding: 5px;
         background-color: #fff;
         border: 1px solid #a3a3a3;
       }



  #app-sh-permalink {
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #e1e1e1;
    color: #1ea3e8;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
  }

.
.pl-sr-results-number {
  width: 50px; 
  vertical-align: top; 
  padding-right: 15px; 
  border-right: 1px solid #c1c1c1; 
  text-align: right;
}

.pl-sr-results-name {
  font-weight: bold; 
  padding-left: 15px; 
  vertical-align: top;
}

.pl-sr-results-button {
  padding: 0px 5px; 
  color: #fff; 
  margin-left: 10px; 
  
  background-color: #c1c1c1; 

  border-radius: 3px;    
  -moz-border-radius: 3px;    
  -webkit-border-radius: 3px;    
  -o-border-radius: 3px;    
}

#preloader {
  position: fixed;

  width: 300px;
  height: 20px;

  padding: 20px;

  color: #5b5b5b;
  background-color: #fffffa;

  text-align: center;
  font-weight: bold;
  font-size: 14px;
  
  border-left: 3px solid #5b5b5b;
  border-right: 3px solid #5b5b5b;
  border-bottom: 3px solid #5b5b5b;

  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
}

#app-tb-tl-old-title {
  margin-top: 2px;
  margin-left: 5px;
  color: #8b8b8b;
}
