#app-tb-datatable {
  width: 940px;
  border-collapse: collapse;
}


#app-tb-datatable thead > tr {
  background-color: #2b2b2b;
  color: #fff;
}

#app-tb-datatable tr {
  border-right: 2px solid #5b5b5b;
  border-left: 2px solid #5b5b5b;
}

#app-tb-datatable tbody > tr:hover {
  background-color: #98d39f;
}

#app-tb-datatable tbody > tr.dim {
  border-right: 2px solid #ababab;
  border-left: 2px solid #ababab;
}

#app-tb-datatable td {
  cursor: default;
  vertical-align: top;
  padding: 5px;
}

#app-tb-datatable td+td {
  border-left: 1px solid #8b8b8b;
}

.odd {
  background-color: #fff;
}

.even {
  background-color: #eee;
}

.click {
  color: #11a8f7;
  font-weight: bold;
}

.click:hover {
  cursor: pointer;
}

.name {
  width: 450px;
}

.value {
  width: 100px;
  text-align: right;
}

.info {
  color: black;
  z-index: 1;
}


.a > .type {
  width: 138px;
}

.b > .type {
  width: 133px;
  padding-left: 10px !important;
}

.c > .type {
  width: 123px;
  padding-left: 20px !important;    
}

.d > .type {
  width: 113px;
  padding-left: 30px !important;    
}

.e > .type {
  width: 103px;
  padding-left: 40px !important;    
}

.current { 
  border: 1px solid #3b3b3b;
}

.root {
  color: #fff;
  background-color: #5b5b5b !important; 
  border-right: 2px solid #5b5b5b;
  border-left: 2px solid #5b5b5b;
}

.dim {
  color: #383838;
}

.next {
  border-top: 2px solid #5b5b5b;
}

.number {
  width: 120px;
  text-align: right;
}

  #app-tb-in-con-table1 {
      border-top: 1px solid #8B8B8B;
      border-bottom: 1px solid #8B8B8B;
      display: table;
      margin-top: 5px;
      width: 680px;
  }

  #app-tb-in-content > table > tbody > tr:hover {
  background-color: #E3E3E3;
  }
  
  #app-tb-in-content td {
    padding: 0px;
    padding-right: 25px;
  }

  #app-tb-in-content td+td {
    border-left: none;
    padding: 0px;
  }

  .app-tb-in-con-type {
    width: 150px;
    text-align: right;
  }

  .app-tb-in-con-name{
    padding: 5px;
    width: 510px;
  } 

  td.app-tb-in-con-attr{
    width: 150px;
    text-align: right;
  } 

  td.app-tb-in-con-num{
    padding: 5px;
    text-align: right;
  } 

.app-tb-info-button {
  cursor: pointer;
}
