body {
  width: 960px;
  margin: 10px auto;
  font-family: sans-serif;
  font-size: 11px;
  color: #5b5b5b;
}

th {
  padding-top: 5px;
  font-size: 11px;
  text-align: right;
  vertical-align: top;
}

label {
  margin-right: 5px;
}

#submit {
  width: 120px; 
  background-color: #3b3b3b; 
  text-align: center; 
  color: #eee; 
  border-radius: 5px; 
  padding: 3px; 
}

#submit:hover {
  background-color: #8b8b8b;
  cursor: pointer;
}
