body {
    background: url('../img/background.png') repeat-x #fff;
    color: #333;
    
    font-size: 11px;
    font-family: sans-serif;
    cursor: default;
} 

a, a:hover, a:visited {
    color: #808080;
    text-decoration: none;
}

#wraper {
    width: 960px;
    margin: 0px auto;
}

#header {
}

#toolbar {
    float: left;
    
    width: 270px;
    margin-right: 10px;
}

    .button {
        text-align: center;
        
        padding: 4px 3px;
        height: 12px;
        
        font-size: 10px;
        font-weight: bold; 

        color: #fff;        
        
        border-radius: 8px;
        -moz-border-radius: 8px;
    }    
    
    .button:hover {
        cursor: pointer;
    }

    .grey {
        background-color: #a0a0a0;
    }

    .grey:hover {
        background-color: #c0c0c0;
    }
    .blue {
        background-color: #29abe2;
    }
    
    .blue:hover {
        background-color: #3ec2fa;
    }    
    
    .pink {
        background-color: #ff90bf;
    }
    
    .pink:hover {
        background-color: #ffb0d1;
    }
        
    #upper-toolbar {
        height: 100%;
        overflow: auto;
        margin-bottom: 5px;
    }

    #back-to-main-arrow {
        float: left;
        margin-top:2px;
        margin-right: 5px;
    }

    #back-to-main {
        float: left;
        width: 154px;
        
        text-align: left;
        color: #888;
    }

    #back-to-main:hover {
        color: #aaa;
    }
     
    #saved-sessions {
        float: right;
        width: 94px;
    }
    
    #lower-toolbar {
        clear: both;
        height: 100%;
        overflow: auto;
        margin-bottom: 5px;
    }

    #selected-items {    
        float: left;
        width: 154px;
        background-color: #f4c200 !important;
        
        text-shadow: #999 1px 1px 3px;
        text-align: left !important;
    }
    #selected-items:hover {    
        background-color: #f7d44c !important;
    }
    
    #selected-items-icon {
        margin-left: 5px;
        margin-right: 3px;        
    }
    
    #download {
        float: right;
        width: 94px;
    }
    

#navigation {
    float: left;
    width: 600px;
}

#navigation img {
    float: left;
    margin-top: -10px;
}


#logo {
    float: left;
    
    width: 80px;
}

#help {
    clear: both;
    height: 100%;
    overflow: auto;
    margin-bottom: 5px;
}

    #help-button {
        float: left;
        width: 80px;
        
        border-radius: 10px 10px 0px 0px !important;        
        -moz-border-radius: 10px 10px 0px 0px !important;        
        
        margin-right: 5px;
        text-shadow: #999 1px 1px 3px;        
    }

    #help-line {
        float: left;
        
        padding: 4px 5px;
        color: #ccc;
    }

    #help-line:hover {
        color: #7f7f7f;
        cursor: pointer;
    }
    
    #more-help {
        clear: both;
        height: auto;
        padding: 5px 15px;
        margin-top: 10px;
        color: #555;
    }
        
    #help-base {
        float: right;
        width: 74px;

        border-radius: 10px 10px 0px 0px !important;        
        -moz-border-radius: 10px 10px 0px 0px !important;        
    }
    

#application {
    clear: both;

    overflow: auto;
    border: 1px solid #838587;
    border-radius: 0px 10px 10px 10px !important;        
    -moz-border-radius: 0px 10px 10px 10px !important;        
}

    #content {
        float: left;
        width: 900px;
    }

        #content-header {
            position: relative;
            overflow: auto;
            background-color: #4d4d4d;
        }
        
            #collection-name {
                height: 20px;
                color: #fff;
                font-size: 18px;
                padding: 5px 15px;
            }
            
            #share-button {
                position: absolute;
                top: 0px;
                right: 15px;
                
                width: 100px;
                height: 17px;

                padding-top: 3px;
                                
                text-align: center;
                font-size: 10px;
                font-weight: bold; 

                color: #fff;
                background-color: #999;

                -moz-border-radius: 0px 0px 8px 8px;
                border-radius: 0px 0px 8px 8px;
            }
            
            #share-button:hover {
                cursor: pointer;
                background-color: #b7b7b7;
            }
            
            #bread-crumb {
                height: 20px;
                color: #fff;
                padding: 5px 15px;
            }
            
            #table-toolbar {
                position: relative;
                
                height: 30px;
                
                background-color: #808080;
                border-radius: 8px 8px 0px 0px;
                -moz-border-radius: 8px 8px 0px 0px;
            }
            
            #statistics {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 595px;
                padding: 3px 15px;
                font-weight: bold;
                color: #fff;
            }
            
            #tools {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 305px;
            }

                #tools-list {
                    position: absolute;
                    bottom: 0px;    
                    height: 20px;                   
                }
                
                #tools-list > li {         
                    display: inline;
                    vertical-align: bottom;
                    background-color: #ccc;
                    border-radius: 8px 8px 0px 0px;
                    -moz-border-radius: 8px 8px 0px 0px;
                }
    
    #snapshots {
        float: right;
        width: 58px;
        background-color: #fff;
    }






















