body {
    background: url('../img/background.png') repeat-x #fff;
    color: #333;
    
    font-size: 11px;
    font-family: sans-serif;
    cursor: default;
} 

#wraper {
    width: 960px;
    margin: 0px auto;
}

#header {
}

#toolbar {
    float: left;
    
    width: 270px;
    margin-right: 10px;
}

    .button {
        text-align: center;
        
        padding: 4px 3px;
        height: 12px;
        
        font-size: 10px;
        font-weight: bold; 

        color: #fff;        
        
        border-radius: 8px;
        -moz-border-radius: 8px;
    }    
    
    .button:hover {
        cursor: pointer;
    }

    .grey {
        background-color: #a0a0a0;
    }

    .grey:hover {
        background-color: #c0c0c0;
    }
    .blue {
        background-color: #29abe2;
    }
    
    .blue:hover {
        background-color: #3ec2fa;
    }    
    
    .pink {
        background-color: #ff90bf;
    }
    
    .pink:hover {
        background-color: #ffb0d1;
    }
        
    #upper-toolbar {
        height: 100%;
        overflow: auto;
        margin-bottom: 5px;
    }

    #back-to-main-arrow {
        float: left;
        margin-top:2px;
        margin-right: 5px;
    }

    #back-to-main {
        float: left;
        width: 154px;
        
        text-align: left;
        color: #888;
    }

     
    #saved-sessions {
        float: right;
        width: 94px;
    }
    
    #lower-toolbar {
        clear: both;
        height: 100%;
        overflow: auto;
        margin-bottom: 5px;
    }

    #selected-items {    
        float: left;
        width: 154px;
        background-color: #f4c200 !important;
        
        text-shadow: #999 1px 1px 3px;
        text-align: left !important;
    }
    #selected-items:hover {    
        background-color: #f7d44c !important;
    }
    
    #selected-items-icon {
        margin-left: 5px;
        margin-right: 3px;        
    }
    
    #download {
        float: right;
        width: 94px;
    }
    

#navigation {
    float: left;
    width: 600px;
}

#navigation > img {
    float: left;
}


#logo {
    float: left;
    
    width: 80px;
}

#help {
    clear: both;
    height: 100%;
    overflow: auto;
    margin-bottom: 5px;
}

    #help-button {
        float: left;
        width: 80px;
        
        border-radius: 10px 10px 0px 0px !important;        
        -moz-border-radius: 10px 10px 0px 0px !important;        
        
        margin-right: 5px;
        text-shadow: #999 1px 1px 3px;        
    }

    #help-line {
        float: left;
        
        padding: 4px 5px;
        color: #9f9f9f;
    }
    
    #more-help {
        clear: both;
        height: auto;
        padding: 5px 15px;
        margin-top: 10px;
        color: #fff;
        font-weight: bold;
    }
        
    #help-base {
        float: right;
        width: 74px;

        border-radius: 0px 10px 10px 0px !important;        
        -moz-border-radius: 10px 10px 0px 0px !important;        
    }
    

#application {
    clear: both;

    overflow: auto;
    border: 1px solid #9f9f9f;
    border-radius: 0px 10px 10px 10px !important;        
    -moz-border-radius: 0px 10px 10px 10px !important;        
}

    #content {
        float: left;
        width: 700px;
    }
        
        #dataset-name {
            position: relative;
            height: 44px;
            padding: 10px 0px;
            
            background: #fff;
            color: #4d4d4d;
            
            font-size: 34px;
            font-weight: bold;
            text-align: center;
        }
        
            #change-dataset {
                position: absolute;
                top: 0px;
                right: 15px;
        
                width: 90px;
            
                border-radius: 8px 0px 8px 8px !important;        
                -moz-border-radius: 0px 0px 8px 8px !important;  
            }
            
            #collection-list {
                position: absolute;
                right: 15px;
                top: 0px;
                
                width: auto;
                height: auto;
                
                background-color: #29abe2;
                border-radius: 8px 0px 8px 8px !important;        
                -moz-border-radius: 8px 0px 8px 8px !important;
                      
                padding: 10px;
                font-size: 11px;
                text-align: left;
                font-style: italic;       
                color: #fff; 
            }
            
            #collection-list > ul > li {
                list-style-type: none;
            }
            
            #collection-list > ul > li:hover {
                cursor: pointer;
                color: #aaa;
            }              
        
            #data-source {
                position: absolute;
                top: 25px;
                right: 15px;
                        
                width: 90px;
                height: 13px !important;
                
                padding-top: 6px;
            }
                    
        #perspectives-count {
            height: 30px;
            padding: 10px 0px;
            
            background-color: #4d4d4d;
            color: #fff;
            
            font-size: 22px;
            font-weight: bold;
            text-align: center;
        }
        
        #perspectives-panel {
            position: relative;
        }
            #perspectives-img {
                position: absolute;
                top: 0px;
                left: 0px;
            }   
                 
            #structures {
                position: relative;
                float: left;
                width: 345px;
                overflow: auto;

                background-color: #fff;
            }
            
            #questions {
                position: relative;            
                float: right;
                width: 345px;         
                overflow: auto;
                
                background-color: #fff;
            }
            
            .perspectives-header {
                margin-left: 10px;
            }
            
            .perspectives-header > * {
                float: left;
            }
            
            .perspectives-header-title {
                font-size: 22px;
                color: #4d4d4d;
                margin-left: 10px;
                font-weight: bold;                
            }
            
            .perspectives-text {
                clear: both;
                margin-left: 38px;
                
                color: #9a9a9a;
            }

            .perspectives-list {
                margin-top: 30px;
                margin-bottom: 50px;
            }            
            /* S I N G L E   P E R S P E C T I V E */
            
            .perspective {
                margin-top: 10px;
            }
            
            .perspective-header {
                margin-left: 38px;
                overflow: auto;
                border-bottom: 1px #c1c1c1 solid;
                margin-bottom: 5px;
                padding-bottom: 5px;
            }
            
            .perspective-header > * {
                float: left;
            }
            
            .perspective-header-title {
                margin-left: 10px;
                
                color: #4d4d4d;
                font-weight: bold;                
            }
            .radio-button {
                float: right !important;
                width: 8px;
                height: 8px;
                
                padding: 3px 3px;                
                margin-right: 5px;
                
                border: 2px solid #3fa9f6;
                border-radius: 10px 10px 10px 10px;        
                -moz-border-radius: 10px 10px 10px 10px;
            }
            
            .radio-button:hover {
                cursor: pointer;
            }
            
            .radio-inside.selected {
                width: 8px;
                height: 8px;
                
                background-color: #5ebbff;
                border-radius: 10px 10px 10px 10px;        
                -moz-border-radius: 10px 10px 10px 10px;
            }
            
            .perspective-text {
                clear: both;
                margin-left: 61px;
                
                color: #9a9a9a;
            }

    
    #about {
        float: right;
        width: 228px;
        
        padding: 0px 15px;
    }

        #about-header {
            width: 100px !important;

            margin-top: 5px;
            margin-bottom: 10px;
            
            background-color: #808080;
            cursor: default !important;
        }
        
        #about-text {
            font-size: 12px;
            color: #808080;
            
            margin-bottom: 10px;
        }

























