body {
    background: url('../img/background.png') repeat-x #fff;
    color: #333;
    
    font-size: 11px;
    font-family: Verdana, sans-serif;
    cursor: default;
} 

a, a:hover, a:visited {
    color: #808080;
    text-decoration: none;
}

#wraper {
    width: 960px;
    margin: 0px auto;
    position: relative;
}




#application {
    clear: both;

    overflow: auto;
    border: 1px solid #838587;
    border-radius: 0px 10px 10px 10px !important;        
    -moz-border-radius: 0px 10px 10px 10px !important;        
}

    #content {
        float: left;
        width: 900px;
        
        box-shadow: 3px 0px 2px #888;
    }

        #content-header {
            position: relative;
            overflow: auto;
            background-color: #4d4d4d;
        }
        
            #collection-name {
                height: 20px;
                color: #fff;
                font-size: 18px;
                padding: 5px 15px;
            }
            
            #share-button {
                position: absolute;
                top: 0px;
                right: 15px;
                
                width: 100px;
                height: 17px;

                padding-top: 3px;
                                
                text-align: center;
                font-size: 10px;
                font-weight: bold; 

                color: #fff;
                background-color: #999;

                -moz-border-radius: 0px 0px 8px 8px;
                border-radius: 0px 0px 8px 8px;
            }
            
            #share-button:hover {
                cursor: pointer;
                background-color: #b7b7b7;
            }
            
            #bread-crumb {
                height: 20px;
                color: #fff;
                padding: 5px 15px;
            }
            
            #table-toolbar {
                position: relative;
                
                height: 30px;
                
                background-color: #808080;
                border-radius: 8px 8px 0px 0px;
                -moz-border-radius: 8px 8px 0px 0px;
            }
            
            #statistics {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 595px;
                padding: 3px 15px;
                font-weight: bold;
                color: #fff;
            }
            
            #tools {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 305px;
            }
                
                #tools > div {         
                    float: left;
                    padding: 3px 10px;
                    margin-right: 5px;
                    background-color: #999;
                    
                    border-radius: 8px 8px 0px 0px;
                    -moz-border-radius: 8px 8px 0px 0px;
                }
                
                #tools > div:hover {
                    cursor: pointer;
                    background-color: #b7b7b7;
                }                         
    
    #snapshots {
        float: right;
        width: 58px;
        margin-top: 130px;
    }
        #empty-snapshot {
            width: 50px !important;
        }
        
        #empty-snapshot:hover {
            cursor: default;
            background-color: #fff !important;
        }        
        
        .snapshot {
            width: 35px;
            height: 22px;

            padding-top: 8px;
            margin-bottom: 10px;

            background-color: #fff;
            text-align: center;

            color: #5e5e5e;
            font-size: 10px;
            font-weight: bold;
            border-radius: 0px 8px 8px 0px;
            -moz-border-radius: 0px 8px 8px 0px;
        }
        
        .snapshot:hover {
            cursor: pointer;
            background-color: #eee;
        }

        #add-snapshot {
            background-color: #f4c200;
            font-weight: normal !important;
        }
        
        #add-snapshot:hover {
            cursor: pointer;
            background-color: #f7d44c !important;
        }





















