/*  T A B L E  */
#table {
    width: 900px;
    margin-left: 0px;
    background-color: #fff;
    overflow: auto;
}

#table div {
    cursor: default;
    display: block;
}


/*  T A B L E   H E A D  */
#thead > .data > * {
    background-color: #808080;
    color: #fff;
    font-weight: bold;
}

#thead > .data > .type {
    width: 138px;
}

#thead > .data {
    overflow: auto;
    border-right: 1px solid #808080;    
    border-left: 1px solid #808080;  
    border-top: 1px solid #ccc;      
}

#thead > div {
    text-align: center;
}


/*  T A B L E   B O D Y  */
#tbody {
    height: 100%;
    clear: both;
}

.a, .b, .c {
    clear: both;
}

.a > .data > .type {
    width: 138px;
}

.b > .data > .type {
    width: 133px;
    padding-left: 10px !important;
}

.c > .data > .type {
    width: 123px;
    padding-left: 20px !important;    
}

.d > .data > .type {
    width: 113px;
    padding-left: 30px !important;    
}

.name {
    width: 441px;;
}

.value {
    float: right !important;
    width: 88px;    
    position: relative;
}

.value > span {
    margin-right: 22px;
}

#tbody .value {
    text-align: right;
}

.node > .data > .type {
    color: #11a8f7;
    font-weight: bold;
}

.node > .data > .type:hover {
    color: #888;
    cursor: pointer !important;

}

.data {
    clear: both;
    overflow: auto;
    min-height: 16px;    
}

.data:hover {
    background-color: #ffeeee !important;
}

.data > div {
    float: left;
}

#tbody .cell {
    min-height: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;    
    border-right: 1px #ccc solid;
}

#thead .cell {
    height: 30px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;    
    border-right: 1px #ccc solid;
}


/*  C H E C K B O X  */
.checkbox {
    position: absolute;

    top: 2px;
    right: 3px;
    width: 20px;
    height: 20px;

    background: url('/site_media/media/img/checkbox.off.png') no-repeat; 
}

.checkbox:hover {
    cursor: pointer !important;
}

.checkbox.selected {
    position: absolute;

    top: 2px;
    right: 3px;
    width: 20px;
    height: 20px;

    background: url('/site_media/media/img/checkbox.on.png') no-repeat; 
}

.checkbox.selected:hover {
    cursor: pointer;
}

.marked {
    background-color: #000 !important;
    color: #fff;
}

.marked:hover {
    background-color: #000 !important;
    color: #fff;
}

.type.marked {
    border-left: 1px solid #000 !important;
}

.darkened {
    color: #aaa;
    background-color: #f8f8f8;
}

/*.leftborder {*/
/*    border-left: 1px solid #000 !important;*/
/*}*/

/*.rightborder {*/
/*    border-right: 1px solid #000 !important;*/
/*}*/

/*.bottomborder {*/
/*    border-bottom: 1px solid #000;*/
/*}*/

.top-border {
    border-top: 1px solid #000;
}
