/*  T A B L E  */
#table {
    margin-left: 8px;
}

#table div {
    cursor: default;
    display: block;
}


/*  T A B L E   H E A D  */
#thead > .data > * {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

#thead > .data > .type {
    width: 138px;
}
#thead > div {
    text-align: center;
}


/*  T A B L E   B O D Y  */
#tbody {
    height: 100%;
    background: url('/site_media/media/img/background.png');
    clear: both;
}

.a, .b, .c {
    clear: both;
}

.a > .data > .type {
    width: 138px;
}
.b > .data > .type {
    width: 123px;
    padding-left: 20px;
}
.c > .data > .type {
    width: 103px;
    padding-left: 40px;    
}

.name {
    width: 548px;
}
.value {
    width: 88px;
}


.node > .data > .type {
    color: #11a8f7;
    font-weight: bold;
}

.node > .data > .type:hover {
    color: #888;
    cursor: pointer !important;
}

.data {
    clear: both;
}

.data > div {
    float: left;
}

.cell {
    height: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;    
    border: 1px #fff solid;
}


/*  C H E C K B O X  */
.checkbox {
    float: right;
    
    width: 5px;
    height: 5px;

    padding: 3px; 
 
    background-color: #fff;
    border: 1px solid #000;
}

.checkbox:hover {
    cursor: pointer !important;
    background-color: #fff;
    border: 1px solid #fbf55f;
}

.checkbox.selected {
    background-color: #fbf55f;    
    border: 1px solid #fbf55f;    
}

.checkbox.selected:hover {
    background-color: #fbf55f !important;    
}

.marked {
    background-color: #000;
    color: #6666ff;
}

.darkened {
    background-color: #999999;
}

.leftborder {
    border-left: 1px solid #000;
}

.rightborder {
    border-right: 1px solid #000;
}

.bottomborder {
    border-bottom: 1px solid #000;
}
